[submodule "jewish-spotlight/austria"]
        path = jewish-spotlight/austria
        url = git@bitbucket.org:bhonline/wp-jca.git

[submodule "jewish-spotlight/fiume"]
	path = jewish-spotlight/fiume
	url = git@bitbucket.org:bhonline/wp-jcf.git
