wp-config.php
nginx.conf
wp-content/uploads/
wp-content/plugins/wp-rocket/cache.json
wp-content/plugins/wp-simple-firewall/mode.login_throttled
wp-content/plugins/wpmudev-updates/
wp-content/advanced-cache.php
wp-content/wp-rocket-config/
.htaccess
wifi-login/.sass-cache/
wifi-login/node_modules/
wifi-login/css/*.css
wifi-login/css/*.map
wifi-login/js/min/
wifi-login/images/general/svg-defs.svg
