[submodule "jewish-spotlight/austria"]
        path = jewish-spotlight/austria
        url = git@github.com:Beit-Hatfutsot/wp-jca.git

[submodule "jewish-spotlight/fiume"]
	path = jewish-spotlight/fiume
	url = git@github.com:Beit-Hatfutsot/wp-jcf.git
