@import "functions";
@import "typography";
//@import "responsive";
@import "modules/sprites";

@charset "utf-8";

/***********/
/* article */
/***********/

article.post {
	margin-bottom: 15px;
	padding: 0 20px 25px;
	color: #999;
	border-bottom: 5px solid $cyan-color1;
	
	&.single-post {
		margin-bottom: 0;
		padding: 0;
		border-bottom: 0;
	}
	
	.post-categories {
		font-size: 16px;
		
		a {
			color: #999;
			text-decoration: none;
		}
	}
	
	.post-title {
		margin: 15px 0 20px;
		font-size: 32px;
		font-weight: $font-bold;
		color: $black-color1;
		text-transform: uppercase;
		
		a {
			color: $black-color1;
			text-decoration: none;
		}
	}
	
	.post-author {
		margin-bottom: 20px;
		padding-bottom: 15px;
		font-size: 18px;
		border-bottom: 1px solid $black-color3;
		
		a {
			font-size: 16px;
			font-weight: $font-bold;
			color: #444;
			text-decoration: none;
		}
	}
	
	.post-meta-wrapper {
		margin-bottom: 20px;
		font-size: 14px;
		
		.post-meta {
			padding-left: 25px;
			
			&.post-date {
				position: relative;
				
				&:before {
					content: "";
					position: absolute;
					top: 3.5px;
					left: 0;
					@include sprites;
					@include clock;
				}
			}
			
			&.post-comments-count {
				float: left;
				position: relative;
				
				&.active:before {
					content: "";
					position: absolute;
					top: 4.5px;
					left: 0;
					@include sprites;
					@include comments;
				}
			}
		}
		
		span.comments-count {
			display: none;
		}
	}
	
	.featured-image {
		img {
			padding: 0 !important;
			border: 0 !important;
			-webkit-border-radius: 0 !important;
			-moz-border-radius:    0 !important;
			border-radius:         0 !important;
		}
	}
	
	.post-excerpt {
		color: $black-color2;
	}
	
	.post-content {
		color: $font-color;
	}
	
	.read-more {
		margin-top: 35px;
	}
}

/*********************/
/* facebook comments */
/*********************/

.fb-comments-wrapper {
	margin-top: 30px;
	
	.fb_iframe_widget_fluid span,
	.fb_iframe_widget iframe {
		width: 100% !important;
	}
}

/***********/
/* addthis */
/***********/

.at4m-menu .at4m-menu-content ul li a {
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing:    content-box !important;
	-ms-box-sizing:     content-box !important;
	-o-box-sizing:      content-box !important;
	box-sizing:         content-box !important;
}