/*************/
/* variables */
/*************/

$images:	"../images/";
$fonts:		"../fonts/";

$default_fonts: 'Open Sans', 'Open Sans Hebrew', sans-serif;

/*******************/
/* admin variables */
/*******************/

$admin-images:	"../../images/admin/";
$admin-ui:		"../../images/ui/";

/**********/
/* colors */
/**********/

$gray-color1:		#333;
$gray-color2:		#444;
$gray-color3:		#666;
$gray-color4:		#999;
$gray-color5:		#c2c2c2;
$gray-color6:		#e6e6e6;
$gray-color7:		#f4f4f4;

$red-color1:		#90190b;
$red-color2:		#bf311a;
$red-color3:		#cb5947;
$red-color4:		#d98376;
$red-color5:		#efcdc7;
$red-color6:		#f5e1dd;
$red-color7:		#ffedeb;

$orange-color1:		#c96e00;
$orange-color2:		#ea8a0a;
$orange-color3:		#fbb034;
$orange-color4:		#fbbf61;
$orange-color5:		#fdd085;
$orange-color6:		#fee2b6;
$orange-color7:		#fff8f0;

$blue-color1:		#028293;
$blue-color2:		#009db2;
$blue-color3:		#47c3d3;
$blue-color4:		#91dbe4;
$blue-color5:		#a7e2ea;
$blue-color6:		#daf3f6;
$blue-color7:		#f0feff;

/*********************/
/* old design colors */
/*********************/

$white:				#FFF;
$white-opac:		rgba($white, 0.9);

$black:				#000;

$black-color1:		#333;
$black-color2:		#666;
$black-color3:		#d1d1d1;
$black-color4:		#7a7975;
$black-color5:		#e6e6e6;

$red:				#c12b1a;

$green:				#5f9573;

$cyan-color1:		#41b8e3;
$cyan-color2:		#c8edf2;

$green-msg:			#009e4b;
$red-msg:			#ed1c24;

$events-list-bg:	#e1e1e9;
$events-filter-bg:	#f3f2f9;

$mobile-menu-color:	#181E22;
$mobile-menu-close: #20272D;

/***************/
/* backgrounds */
/***************/

$bg-color:			$white;
$content-bg:		$white;
$footer-bg:			$white;

/*******************/
/* BH sites colors */
/*******************/

$main-color:		$blue-color3;
$shop-color:		$orange-color3;
$mjs-color:			$red-color3;

/**************/
/* typography */
/**************/

$font-color:			$gray-color3;
$font-invert-color:		$white;

$link-color:			$red;
$link-hover-color:		$red;

$read-more-link:		$red;
$read-more-link-hover:	$red;

$font-normal:			400;
$font-semi-bold:		600;
$font-bold:				700;

$border-color1:			$black-color3;
$border-color2:			$black-color4;

/*********/
/* forms */
/*********/

$panel-border-color:	$black-color3;
$panel-heading-color:	$black-color3;

/***********/
/* buttons */
/***********/

/*** red ***/

$red-btn-color:			$white;
$red-btn-bg-bormal:		#e5493a;
$red-btn-bg-hover:		#ef2d23;
$red-btn-bg-active:		#f85646;

/*** cyan ***/

$cyan-btn-color:		$font-color;
$cyan-btn-bg-bormal:	#41b8e3;
$cyan-btn-bg-hover:		#69c2e2;
$cyan-btn-bg-active:	#21afe3;

/*** white ***/

$white-btn-color:		$font-color;
$white-btn-bg-bormal:	$white;
$white-btn-bg-hover:	#eceaea;
$white-btn-bg-active:	#d5d5d5;

/*** green ***/

$green-btn-color:		$white;
$green-btn-bg-bormal:	#81c28d;
$green-btn-bg-hover:	#9bc0a2;
$green-btn-bg-active:	#65c076;

/**********/
/* banner */
/**********/

// banner width values are for reference only. the actual css width is 100%.
$banner-width-l: 				1140px;
$banner-width-m: 				940px;
$banner-width-s: 				720px;

$banner-height-l: 				527px;
$banner-height-m: 				434px;
$banner-height-s: 				333px;

$slides-initial-top-l: 			$banner-height-l * -1;
$slides-initial-top-m: 			$banner-height-m * -1;
$slides-initial-top-s: 			$banner-height-s * -1;

$mini-gallery-padding-side-l: 	(10 / 1000) * $banner-width-l;
$mini-gallery-padding-side-m: 	(10 / 1000) * $banner-width-m;
$mini-gallery-padding-side-s: 	(10 / 1000) * $banner-width-s;

$mini-gallery-margin-l: 		10px;
$mini-gallery-margin-m: 		10px;
$mini-gallery-margin-s: 		10px;

$mini-gallery-img-count:		5;

$mini-gallery-width-ratio:		0.185;		

$mini-gallery-img-height-l:		($banner-height-l / $banner-width-l) * ($banner-width-l * $mini-gallery-width-ratio - 2 * $mini-gallery-padding-side-l);
$mini-gallery-padding-top-l:	0.5 * ($banner-height-l - ($mini-gallery-img-count - 1) *  $mini-gallery-margin-l - $mini-gallery-img-count * $mini-gallery-img-height-l);
$mini-gallery-img-height-m:		($banner-height-m / $banner-width-m) * ($banner-width-m * $mini-gallery-width-ratio - 2 * $mini-gallery-padding-side-m);
$mini-gallery-padding-top-m:	0.5 * ($banner-height-m - ($mini-gallery-img-count - 1) *  $mini-gallery-margin-m - $mini-gallery-img-count * $mini-gallery-img-height-m);
$mini-gallery-img-height-s:		($banner-height-s / $banner-width-s) * ($banner-width-s * $mini-gallery-width-ratio - 2 * $mini-gallery-padding-side-s);
$mini-gallery-padding-top-s:	0.5 * ($banner-height-s - ($mini-gallery-img-count - 1) *  $mini-gallery-margin-s - $mini-gallery-img-count * $mini-gallery-img-height-s);
