@import "functions";
@import "modules/sprites";
@import "modules/bh_sprites";

@media (max-width: 1199px) {

	/**********/
	/* header */
	/**********/
	
	body > header .navbar {
		.navbar-header {
			float: none;
		}
	}
}

@media (max-width: 991px) {

	/***************************/
	/* shop - homepage sliders */
	/***************************/

	.shop-home-sliders {
		.products-slider {
			h2 {
				&:after {
					border-left-width: 22px;
					border-right-width: 0;
				}
			}
		}
	}

	/******************/
	/* shop - archive */
	/******************/

	.woocommerce.archive {

		/***************/
		/* term banner */
		/***************/

		.term-banner-wrapper {
			&:before {
				right: -32px;
			}

			.term-banner {
				&:before,
				&:after {
					right: -32px;
				}

				&:before {
					border-bottom-left-radius: 16px;
				}

				&:after {
					border-top-left-radius: 16px;
				}
			}
		}
	}

	/***********************/
	/* shop - product item */
	/***********************/

	.product-item {
		.product-item-meta {
			.add-to-cart-wrapper {
				.add-to-cart {
					a.added_to_cart {
						left: 0;
						right: auto;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	
	/****************/
	/* page content */
	/****************/
	
	.page-content {
		
		/***********/
		/* content */
		/***********/
		
		.content-wrapper,
		.content-wrapper-wide {
			
			/************/
			/* excerpts */
			/************/
			
			ul.excerpts {
				li {
					.content {
						&.has-image {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
	
	/******************/
	/* featured links */
	/******************/
	
	.featured-links {
		.link-content-wrapper {
			.link-content {
				margin-right: auto;
			}
		}
	}
	
	/******************/
	/* shop - archive */
	/******************/

	.woocommerce.archive {

		/***************/
		/* term banner */
		/***************/

		.term-banner-wrapper {
			&:before {
				right: 0;
			}

			.term-banner {
				&:before {
					left: 0;
					right: auto;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 16px;
				}

				&:after {
					right: 0;
					border-top-left-radius: 0;
				}
			}
		}
	}

	/***************/
	/* shop - cart */
	/***************/
	
	table.cart {
		td.actions {
			.coupon {
				float: none !important;
				
				.input-text {
					width: 48% !important;
				}
				
				input.button[name="apply_coupon"] {
					float: left;
				}
			}
			
			input.button[name="update_cart"] {
				margin-left: 0;
			}
		}
	}

	/**********/
	/* footer */
	/**********/

	footer {

		/****************/
		/* footer links */
		/****************/

		.footer-links {
			.link-box-wrapper {
				&:first-child { padding-left: 5px; padding-right: 15px; }
				&:last-child { padding-left: 15px; padding-right: 5px; }
			}
		}

		/***************/
		/* sites links */
		/***************/

		.sites-links {
			.site-item {
				&:first-child { padding-left: 5px; padding-right: 15px; }
				&:last-child { padding-left: 15px; padding-right: 5px; }
			}
		}
	}
}

@media (max-width: 526px) {}

@media (max-width: 480px) {
	
	/**********/
	/* header */
	/**********/

	body > header {

		/**************/
		/* header top */
		/**************/

		.header-top {

			/************/
			/* BH sites */
			/************/

			.sites {
				ul {
					li {
						margin: 16px 0 0 10px;

						&:hover {
							margin: 16px 0 0 10px;
						}

						&.active {
							margin: 0 0 0 10px;
						}
					}
				}
			}
		}

		/*******************/
		/* header elements */
		/*******************/

		.header-elements {
			.header-element {

				/********************/
				/* newsletter popup */
				/********************/

				&.newsletter-popup {
					.newsletter-popup-content {
						.widgetcontent {
							form {
								.newsletter-groups {
									label {
										margin-left: 75px;
										margin-right: auto;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	/****************/
	/* single event */
	/****************/
	
	.series {
		.panel-body {
			.row {
				.event-date {
					left: auto;
					right: 26.66666667%;
					
					&.aligned {
						right: auto;
					}
				}
				
				.event-price {
					left: 33.33333333%;
					right: auto;
				}
			}
		}
	}
	
	/*******/
	/* 404 */
	/*******/
	
	.container-404 {
		.quote {
			.bottom-msg {
				.bottom-msg-content {
					margin-left: auto;
					margin-right: 160px;
					padding: 10px 0 0 10px;
				}
			}
		}
	}

	/***********************************/
	/* shop - homepage categories menu */
	/***********************************/

	.shop-categories-menu-wrapper {
		.category-item-wrapper {
			.category-item {
				.title {
					padding-left: 0;
					padding-right: 10px;
				}
			}

			&.manual-item-wrapper {
				.category-item {
					.icon {
						left: auto;
						right: 30%;
					}
				}
			}
		}
	}
}

@media (max-width: 446px) {
	
	/***************/
	/* events list */
	/***************/
	
	.events-list {
		.row {
			.event-type {
				left: auto !important;
				right: 40px !important;
			}
		}
	}
}

@media (min-width: 1200px) {

	/****************/
	/* page content */
	/****************/
	
	.page-content {
	
		/****************/
		/* widgets area */
		/****************/
		
		.widgets-area-wrapper {
			left: auto;
			right: 632.5px;
			
			&.shop-page {
				right: 877.5px;
			}
		}
	}

	/******************/
	/* featured links */
	/******************/
	
	.featured-links {
		left: 350px;
		right: auto;
	}
	
	/*******************/
	/* contact details */
	/*******************/
	
	.contact-details {
		left: auto;
		right: 820px;
	}
}
	
@media (min-width: 992px) {}

@media (min-width: 992px) and (max-width: 1199px) {

	/**********/
	/* header */
	/**********/
	
	body > header .navbar {
		.navbar-header {
			.navbar-brand {
				@include logo-he-medium;
			}
		}
	}
	
	/******************/
	/* featured links */
	/******************/
	
	.featured-links {
		left: 350px;
		right: auto;
		
		.link-content-wrapper {
			.link-content {
				margin-right: auto;
			}
		}
	}	

	/*******************/
	/* contact details */
	/*******************/
	
	.contact-details {
		left: auto;
		right: 620px;
	}

	/***************/
	/* events list */
	/***************/
	
	.events-list {
		.row {
			.event-type {
				left: 705px;
				right: auto;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	
	/**********/
	/* header */
	/**********/

	body > header {

		/**************/
		/* header top */
		/**************/

		.header-top {

			/****************/
			/* logo wrapper */
			/****************/

			.logo-wrapper {
				.logo a {
					@include sprite-logo-he-106x48;
				}
			}
		}
	}

	/*******************/
	/* contact details */
	/*******************/
	
	.contact-details {
		.contact-details-wrapper {
			padding: 15px 15px 0;
			
			.contact-details-layout {
				padding: 0 0 10px 0 !important;

				/*******/
				/* map */
				/*******/
				
				&.contact-details-layout-map {
					margin-left: 0;
				}
			}
		}
	}

	/***************/
	/* events list */
	/***************/
	
	.events-list {
		.row {
			.event-type {
				left: auto;
				right: 248px;
			}
		}
	}
}

@media (min-width: 481px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 767px) {
	
	/**********/
	/* header */
	/**********/

	body > header {

		/**************/
		/* header top */
		/**************/

		.header-top {

			/************/
			/* BH sites */
			/************/

			.sites {
				ul {
					li {
						margin: 22px 0 0 12px;

						&:hover {
							margin: 22px 0 0 12px;
						}

						&.active {
							margin: 0 0 0 12px;
						}

						&.main {
							&.active .icon {
								@include sprite-museum-he-s;
							}
						}

						&.shop {
							&.active .icon {
								@include sprite-shop-he-s;
							}
						}
					}
				}
			}

			/****************/
			/* logo wrapper */
			/****************/

			.logo-wrapper {
				.logo a {
					@include sprite-logo-he-91x41;
				}
			}
		}
	}

	/*******/
	/* 404 */
	/*******/
	
	.container-404 {
		.quote {
			.bottom-msg {
				.bottom-msg-content {
					h2 {
						margin: 0 185px 24px 0;
					}
				}
			}
		}
	}

	/***********************************/
	/* shop - homepage categories menu */
	/***********************************/

	.shop-categories-menu-wrapper {
		.category-item-wrapper {
			&.manual-item-wrapper {
				.category-item {
					.icon {
						left: 0;
						right: auto;
					}
				}
			}
		}
	}
}

@media (min-width: 351px) and (max-width: 767px) {
	
	/***************/
	/* events list */
	/***************/
	
	.events-list {
		.row {
			.event-type {
				left: 15px;
				right: auto;
			}
		}
	}
}