@import "functions";
@import "modules/sprites";
@import "modules/bh_sprites";

/**
 * These values will not show up in content, but can be 
 * queried by JavaScript to know which breakpoint is active
 */

@media (max-width: 1199px) {
	body:before {
		content: "1199";
	}
}

@media (max-width: 991px) {
	body:before {
		content: "991";
	}
}

@media (max-width: 767px) {
	body:before {
		content: "767";
	}
}

@media (max-width: 480px) {
	body:before {
		content: "480";
	}
}

@media (max-width: 1199px) {

	/**********/
	/* header */
	/**********/

	body > header {

		/*****************/
		/* header bottom */
		/*****************/
		
		.header-bottom {

			/********/
			/* menu */
			/********/

			nav.menu {
				ul.nav {
					& > li {
						& > a {
							padding: 0 20px;
							font-size: 18px;
						}

						.sub-menu {
							& > li {
								& > a {
									font-size: 16px;
								}
							}
						}
					}
				}
			}
		}
	}

	/**********/
	/* banner */
	/**********/

	.main-layout-banner {
		height: $banner-height-m;
	
		.container {
			margin-top: 0;

			#slideshow-wrapper {
				#slides {
					top: $slides-initial-top-m;		
				}

				#description-wrapper {
					#description {
						#description-cell {
							#category {
								font-size: 11.25px;
								margin-bottom: 14px;	
							}	

							.desc-link {
								font-size: 12px; 

								#title {
									margin-bottom: 21px;
									font-size: 24px;
									line-height: 32px;
								}
							}

							#date {
								margin-bottom: 38px;
								font-size: 16.87px;
								line-height: 20px;
							}

							#text {
								max-height: 92px;
								font-size: 15px;
								font-weight:bold;
								line-height: 18px;	
							}
						}
					}
				}

				#mini-gallery {
					padding: $mini-gallery-padding-top-m $mini-gallery-padding-side-m;

					.mini-gallery-item-wrapper {
						height: $mini-gallery-img-height-m;
						margin-bottom: $mini-gallery-margin-m;
						
						.mini-gallery-title {
							font-size: 10px;
						}
					}
				}
			}
		}
	}

	/******************/
	/* events filters */
	/******************/
	
	.event-filters-outer-wrapper {
		margin-top: 0;
	}

	/******************/
	/* shop - sidebar */
	/******************/

	.shop-sidebar {

		/********/
		/* AWPF */
		/********/

		.awpf-filter {

			/****************/
			/* filter title */
			/****************/

			.awpf-filter-title {
				h3 {
					font-size: 18px;
				}

				&:before {
					top: 10px;
				}

				&.collapsed {
					&:before {
						top: 12px;
					}
				}
			}

			/*******************/
			/* categories menu */
			/*******************/

			&.awpf-category-filter {
				ul.categories {
					li {
						& > a {
							font-size: 14px;
						}

						& > ul.children {
							li {
								& > a {
									font-size: 14px;
								}

								label {
									& > span {
										font-size: 14px;
									}
								}
							}
						}
					}
				}
			}

			/****************/
			/* price filter */
			/****************/

			&.awpf-price-filter {
				#awpf-price-filter-amount {
					font-size: 14px;
				}
			}

			/*******************/
			/* taxonomy filter */
			/*******************/

			&.awpf-tax-filter {
				ul.tax-terms {
					li {
						label {
							& > span {
								font-size: 14px;
							}
						}
					}
				}

				/****************/
				/* badge filter */
				/****************/

				&.awpf-tax-filter-badge {
					.tax-terms {
						li {
							width: 64px;

							label {
								.badge-name-wrapper {
									.badge-name {
										height: 36px;
										line-height: 10px;							
										font-size: 10px;
									}

									.item-checked-top {
										bottom: -6px;
										left: 14px;
										border-left-width: 13px;
										border-right-width: 13px;
									}

									.item-checked-bottom {
										width: 54px;

										&:before {
											@include transform(skew(0deg, 24deg));
										}

										&:after {
											@include transform(skew(0deg, -24deg));
										}
									}

									.item-after {
										border-left: 27px solid transparent;
										border-right: 27px solid transparent;
									}
								}

								.badge-count {
									&:after {
										border-left: 27px solid transparent;
										border-right: 27px solid transparent;
									}
								}

								&:after {
									bottom: 32px !important;
									left: 20px !important;
									border-width: 2px;
								}
							}

							input[type=checkbox] {
								&:checked + label {
									.badge-name-wrapper {
										.badge-name {
											height: 30px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	/**********/
	/* footer */
	/**********/

	footer {

		/***************/
		/* sites links */
		/***************/

		.sites-links {
			.site-item {
				a {
					.title {
						line-height: 20px;
						font-size: 20px;
						font-weight: $font-normal;
					}

					&.active {
						.title {
							line-height: 22px;
							font-size: 22px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 991px) {

	/**********/
	/* header */
	/**********/

	body > header {

		/*******************/
		/* header elements */
		/*******************/

		.header-elements {
			.header-element {

				/********************/
				/* newsletter popup */
				/********************/

				&.newsletter-popup {
					position: static;
					-webkit-transform:	none;
					-ms-transform:		none;
					transform:			none;
					height: 60px;

					.newsletter-popup-btn {
						@include vertical-align;
					}

					.newsletter-popup-content {
						top: 140px;
						@include calc(left, "50% - 170px");
					}
				}
			}
		}
	}

	/****************/
	/* page content */
	/****************/

	.page-content {
		padding-top: 0;
	}
	
	/**********/
	/* banner */
	/**********/
	
	.main-layout-banner {
		height: $banner-height-s;

		.container {
			#slideshow-wrapper {
				#slides {
					top: $slides-initial-top-s;		
				}

				#description-wrapper {
					#description {
						#description-cell {
							#category {
								font-size: 8.6px;
								margin-bottom: 11px;	
							}
							
							.desc-link {
								font-size: 8px;

								#title {
									margin-bottom: 13px;
									font-size: 17px;
									line-height: 22px;
								}
							}

							#date {
								margin-bottom: 27px;
								font-size: 13px;
								line-height: 15px;
							}

							#text {
								font-size: 11px;
								font-weight:bold;
								line-height: 14px;
								max-height: 71px;	
							}
						}
					}
				}

				.description-show {
					max-height: 80%;
					height: auto !important;

					#description {
						#description-cell {
							padding: 0;

							#date, #text, .read-more {
								display: none !important;
							}
						}
					}
				}

				#mini-gallery {
					display: none;
				}

				#up-arrow, #down-arrow {
					display: none !important;
				}
			}
		}
	}

	/*******************/
	/* contact details */
	/*******************/
	
	.contact-details {
		.contact-details-wrapper {
			margin-bottom: 30px;
		}
	}

	/***************************/
	/* shop - homepage sliders */
	/***************************/

	.shop-home-sliders {
		.products-slider {
			h2 {
				padding: 12px 25px;
				font-size: 16px;

				&:after {
					border-bottom-width: 41px;
					border-right-width: 22px;
				}
			}
		}
	}

	/******************/
	/* shop - sidebar */
	/******************/

	.shop-sidebar {

		/**************/
		/* term title */
		/**************/

		.term-title-wrapper {
			.term-title {
				.icon {
					display: none;
				}
			}
		}
	}

	/******************/
	/* shop - archive */
	/******************/

	.woocommerce.archive {

		/***************/
		/* term banner */
		/***************/

		.term-banner-wrapper {
			&:before {
				left: -32px;
				width: 32px;
			}

			.term-banner {
				font-size: 14px;
				@include border-radius(6px);

				&:before,
				&:after {
					left: -32px;
					width: 32px;
				}

				&:before {
					border-bottom-right-radius: 16px;
				}

				&:after {
					border-top-right-radius: 16px;
				}
			}
		}

		/*****************/
		/* products list */
		/*****************/

		.products-list {

			/****************/
			/* sort options */
			/****************/

			.sort-options {
				.sort-title {
					line-height: 19px;
					font-size: 12px;
				}

				form {
					height: 19px;

					select {
						font-size: 12px;
					}
				}
			}
		}
	}

	/*************************/
	/* shop - single product */
	/*************************/

	.single-product-section {

		/****************************/
		/* single product section 1 */
		/****************************/

		&.single-product-section1 {

			/******************/
			/* product images */
			/******************/

			.product-images {
				margin-top: 0 !important;
			}
		}
	}

	/**************************/
	/* shop - products slider */
	/**************************/

	.products-slider {
		.products-slider-wrapper {
			padding: 67px 22px 0;

			.products-slider-placeholder {
				.product-item-wrapper {
					padding: 5px;
					width: 169px;
				}
			}

			.products-slider-prev,
			.products-slider-next {
				top: 199px;
				border-top-width: 12.5px;
				border-bottom-width: 12.5px;
			}
			
			.products-slider-prev {
				border-right-width: 20px;
			}
			
			.products-slider-next {
				border-left-width: 20px;
			}
		}
	}

	/***********************/
	/* shop - product item */
	/***********************/

	.product-item {
		.product-item-image {
			max-width: 139px;
			height: 139px;
		}
		
		.product-item-meta {
			.title-wrapper {
				padding: 2.5px;
				height: 70px;

				.title {
					margin-bottom: 0;
					height: 42px;
					font-size: 14px;
				}
				
				.artist {
					font-size: 11px;
				}
			}

			.add-to-cart-wrapper {
				.price {
					height: 45px;
					font-size: 17px !important;

					& > .amount {
						margin-top: 20px;
					}

					del {
						height: 20px;
						font-size: 12px;
					}
				}

				.add-to-cart {
					width: 50px;
					height: 40px;

					&:before {
						top: 40px;
						border-left-width: 25px;
						border-right-width: 25px;
						border-top-width: 7.5px;
					}

					&:after {
						top: 3.5px;
						left: 4.5px;
					}

					a.button {
						height: 47.5px;

						&:after {
							top: 7px;
							right: 30.5px;
						}

						&.loading,
						&.added {
							&:after {
								right: 29.5px;
							}
						}
					}

					a.added_to_cart {
						padding: 0;
						top: 47.5px;
						right: 1px;
						line-height: normal;
						font-size: 11px;
					}
				}
			}
		}
	}

	/**********/
	/* footer */
	/**********/

	footer {

		/****************/
		/* footer links */
		/****************/

		.footer-links {
			.link-box {
				a {
					.link {
						.title {
							line-height: normal;
							font-size: 12px;
						}

						.more {
							font-size: 10px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	
	/******************/
	/* general layout */
	/******************/
	
	body {
		margin: 0 auto;
	}
	
	/****************/
	/* page content */
	/****************/

	.page-content {

		/***********/
		/* content */
		/***********/
		
		.content-wrapper,
		.content-wrapper-wide {
			
			/************/
			/* excerpts */
			/************/
			
			ul.excerpts {
				li {
					.image {
						float: none !important;
					}
					
					.content {
						&.has-image {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
	
	/************************/
	/* forms - landing form */
	/************************/
	
	.landing-form {
		p {
			.textareafield {
				textarea {
					width: 100% !important;
				}
				
				.wpcf7-not-valid-tip {
					left: 1%;
				}
			}
			
			.inputfield {
				input {
					width: 100% !important;
				}
				
				.wpcf7-not-valid-tip {
					left: 1%;
					right: auto;
				}
			}
		}
	}

	/***********************/
	/* main general layout */
	/***********************/

	.main-wrapper {
		margin-top: 116px;
	}

	/**********/
	/* banner */
	/**********/

	.main-layout-banner {
		display: none;
	}
	
	/******************/
	/* featured links */
	/******************/
	
	.featured-links {
		.link-image {
			margin-bottom: 10px;
		}
		
		.link-content-wrapper {
			.link-content {
				margin-left: auto;
			}
		}
	}
		
	/*******************/
	/* contact details */
	/*******************/
	
	.contact-details {
		.contact-details-wrapper {
			.contact-details-layout {
				height: auto !important;
			}
		}
	}

	/***************/
	/* events list */
	/***************/
	
	.events-list {
		.row {
			.col-3 {
				.event-btn {
					display: none;
				}
			}
		}
	}
	
	/****************/
	/* single event */
	/****************/
	
	.content-landing-mode {
		.landing-content-center {
			top: 5% !important;
			left: 5% !important;
			width: 90% !important;
			height: 90% !important;
		}
	}

	/***************************/
	/* shop - homepage sliders */
	/***************************/

	.shop-home-sliders {
		.products-slider {
			h2 {
				float: none !important;
				margin: 0 0 20px !important;
				padding: 12px 20px;

				&:before,
				&:after {
					display: none;
				}
			}
		}
	}

	/******************/
	/* shop - sidebar */
	/******************/

	.shop-sidebar {

		/**************/
		/* term title */
		/**************/

		.term-title-wrapper {
			.term-title {
				margin-bottom: 20px;
				min-height: 30px;

				h1 {
					margin: 0;
					font-size: 18px;

					span {
						font-size: 16px;
					}
				}

				&.has-icon {
					min-height: 30px;
				}
			}
		}

		/********/
		/* AWPF */
		/********/

		.awpf-filters-toggle {
			margin: 0 -15px 15px;
			position: relative;
			padding: 7px 0 7px 35px;
			background-color: #c6e8ed;
			cursor: pointer;

			h3 {
				margin: 0;
				font-size: 16px;
				font-weight: $font-bold;
				color: $font-color;

				.active { display: none; }
				.inactive { display: block; }
			}

			&:before {
				content: "";
				position: absolute;
				top: 8px;
				left: 15px;
				width: 0;
				height: 0;
				border-top: 7.5px solid transparent;
				border-bottom: 7.5px solid transparent;
				border-left: 13px solid $gray-color3;
			}

			& + .awpf-filters-wrapper {
				display: none;
			}

			&:hover,
			&.collapsed {
				background-color: $blue-color4;
			}

			&.collapsed {
				h3 {
					.active { display: block; }
					.inactive { display: none; }
				}

				&:before {
					top: 9px;
					border-top: 13px solid $gray-color3;
					border-right: 7.5px solid transparent;
					border-bottom: 0;
					border-left: 7.5px solid transparent;
				}

				& + .awpf-filters-wrapper {
					display: block;
				}
			}
		}

		.awpf-filter {

			/**********************/
			/* mobile link button */
			/**********************/

			.goto-products {
				margin: 10px 10px 5px;
				padding: 5px;
				font-size: 16px;
				font-weight: $font-bold;
				color: $font-invert-color;
				text-align: center;
				background-color: $orange-color3;
				cursor: pointer;
			}

			/****************/
			/* filter title */
			/****************/

			.awpf-filter-title {
				h3 {
					font-size: 14px;
				}

				.awpf-loader {
					top: 1px;
				}

				&:before {
					top: 7px;
				}

				&.collapsed {
					&:before {
						top: 9px;
					}
				}
			}
		}
	}

	/******************/
	/* shop - archive */
	/******************/

	.woocommerce.archive {

		/***************/
		/* term banner */
		/***************/

		.term-banner-wrapper {
			&:before {
				top: -32px;
				left: 0;
				width: 100%;
				height: 32px !important;
			}

			.term-banner {
				&:before,
				&:after {
					top: -32px !important;
					width: 50%;
					height: 32px !important;
				}

				&:before {
					left: 0;
					border-bottom-right-radius: 16px;
				}

				&:after {
					left: auto;
					right: 0;
					border-top-right-radius: 0;
					border-bottom-left-radius: 16px;
				}
			}
		}
	}

	/*************************/
	/* shop - single product */
	/*************************/

	.single-product-section {

		/****************************/
		/* single product section 1 */
		/****************************/

		&.single-product-section1 {

			/******************/
			/* product images */
			/******************/

			.product-images {

				/******************/
				/* mobile gallery */
				/******************/

				.product-gallery-slider {
					.product-gallery-slider-prev,
					.product-gallery-slider-next {
						border-top-width: 10px;
						border-bottom-width: 10px;
					}

					.product-gallery-slider-prev {
						border-right-width: 18px;
					}
					
					.product-gallery-slider-next {
						border-left-width: 18px;
					}
				}
			}
		}
	}

	/***************/
	/* shop - cart */
	/***************/
	
	table.cart {
		td.actions {
			.input-text {
				width: 48% !important;
			}
		}
	}

	/**************************/
	/* shop - products slider */
	/**************************/

	.products-slider {
		.products-slider-wrapper {
			padding: 0;

			.products-slider-prev,
			.products-slider-next {
				display: none;
			}
		}
	}

	/***********************/
	/* shop - product item */
	/***********************/

	.product-item {
		padding: 0;

		&:hover {
			-webkit-box-shadow:	none;
			-moz-box-shadow:	none;
			box-shadow:			none;
		}
	}

	/**********/
	/* footer */
	/**********/

	footer {

		/****************/
		/* footer links */
		/****************/

		.footer-links {
			.link-box-wrapper {
				padding-left: 5px;
				padding-right: 5px;

				&:first-child { padding-left: 15px; padding-right: 5px; }
				&:last-child { padding-left: 5px; padding-right: 15px; }
			}
		}

		/***************/
		/* sites links */
		/***************/

		.sites-links {
			border-top: 6px solid;

			.site-item {
				padding-left: 5px;
				padding-right: 5px;

				&:first-child { padding-left: 15px; padding-right: 5px; }
				&:last-child { padding-left: 5px; padding-right: 15px; }

				a {
					height: 40px;

					.title {
						line-height: 13px;
						font-size: 13px;
						font-weight: $font-normal;
					}

					&:hover {
						height: 50px;
					}

					&.active {
						height: 60px;

						.title {
							line-height: 16px;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 526px) {
	
	/***************/
	/* events list */
	/***************/
	
	.events-list {
		.row {
			.col-3 {
				.event-excerpt {
					.event-desc {
						display: none;
					}												
				}
			}
		}
	}
}

@media (max-width: 480px) {
	
	/**********/
	/* header */
	/**********/

	body > header {

		/**************/
		/* header top */
		/**************/

		.header-top {
			height: 46px;
			border-bottom-width: 8px;

			/************/
			/* BH sites */
			/************/

			.sites {
				ul {
					li {
						margin: 16px 10px 0 0;

						a {
							width: 50px;
							height: 22px;

							.title {
								line-height: 10px;
								font-size: 10px;
								display: block !important;
							}

							.icon {
								display: none !important;
							}
						}

						&:hover {
							margin: 16px 10px 0 0;

							a {
								width: 50px;
								height: 22px;
							}
						}

						&.active {
							margin: 0 10px 0 0;

							a {
								width: 75px;
								height: 38px;

								.title {
									line-height: 15px;
									font-size: 15px;
								}
							}
						}
					}
				}
			}

			/****************/
			/* logo wrapper */
			/****************/

			.logo-wrapper {
				.mobile-menu-btn {
					height: 38px;
				}
				
				.logo {
					display: none;
				}
			}
		}

		/*******************/
		/* header elements */
		/*******************/

		.header-elements {
			&.header-mid-elements {
				height: 56px;
			}

			.header-element {
				&.link,
				&.icon {
					display: none;
				}

				/*******************/
				/* shop cart popup */
				/*******************/

				&.shop-cart-popup {
					&.shop-cart-header-mid-popup {
						height: 56px;

						.shop-cart-popup-content {
							top: 102px;
							@include calc(left, "50% - 160px");
							width: 320px;

							ul.cart_list {
								li.product_list_widget_item_wrapper {
									.product_list_widget_item {
										a {
											.col1,
											.col2 {
												.col {
													&.item-data {
														width: 135px;
													}
												}
											}
										}
									}
								}
							}
								
							.total {
								.col {
									&.title {
										width: 210px;
									}
								}
							}
						}
					}
				}

				/********************/
				/* newsletter popup */
				/********************/

				&.newsletter-popup {
					height: 56px;

					.newsletter-popup-content {
						top: 102px;
						@include calc(left, "50% - 160px");
						width: 320px;

						.widgetcontent {
							form {
								.newsletter-groups {
									label {
										margin-right: 75px;
									}
								}
							}
						}
					}
				}
			}
		}

		/*****************/
		/* featured page */
		/*****************/

		.header-mid {
			.featured-page {
				height: 56px;
			}
		}
	}

	/****************/
	/* page content */
	/****************/

	.page-content {
		margin-top: 102px;
	}

	/***********************/
	/* main general layout */
	/***********************/

	.main-wrapper {
		margin-top: 102px;
	}

	/****************/
	/* single event */
	/****************/
	
	.series {
		.panel-heading {
			.series-title {
				margin-bottom: 10px;
				width: 100%;
				font-size: 20px;
			}
			
			.series-price {
				width: 40%;
			}
			
			.series-btn {
				width: 60%;
			}
		}
		
		.panel-body {
			.row {
				.event-title-wrapper {
					width: 100%;
					
					.event-title {
						font-style: normal;
					}
				}
				
				.event-date {
					left: 26.66666667%;
					width: 33.33333333%;
					
					&.aligned {
						left: auto;
						width: 100%;
					}
				}
				
				.event-price {
					right: 33.33333333%;
					width: 26.66666667%;
				}
				
				.event-btn {
					width: 40%;
				}
			}
		}
		
		.panel-footer {
			height: 15px;
		}
	}
	
	.content-landing-mode {
		line-height: normal;
	}
	
	/*******/
	/* 404 */
	/*******/
	
	.container-404 {
		.bg-wrap {
			.bg {
				background-position: -40% 100%;
				background-size: 54%;
			}
		}
		
		.top-msg {
			margin-bottom: 150px;
			
			.top-msg-title {
				margin-top: 48px;
				font-size: 30px;
				
				.small {
					font-size: 13px;
				}
				
				.big {
					font-size: 38px;
				}
				
				.top {
					top: -18px;
					font-size: 22px;
				}
			}
			
			.top-msg-content {
				font-size: 18px;
			}
		}
		
		.quote {
			.bottom-msg {
				.bottom-msg-content {
					margin-left: 155px;
					padding: 10px 10px 0;
					height: 150px;
					font-size: 14px;
					
					h2 {
						margin-bottom: 30px;
						font-size: 16px;
					}
				}
			}
		}
	}

	/***********************************/
	/* shop - homepage categories menu */
	/***********************************/

	.shop-categories-menu-wrapper {
		.category-item-wrapper {
			float: none;
			padding: 0 !important;
			width: 100%;

			.category-item {
				.title {
					padding-left: 10px;
					font-size: 16px;
				}
			}

			&.manual-item-wrapper {
				.category-item {
					.title {
						width: 35%;
					}

					.subtext {
						line-height: 12px;
						font-size: 11px;
					}

					.icon {
						left: 30%;
					}
				}
			}
		}
	}

	/***************************/
	/* shop - homepage sliders */
	/***************************/

	.shop-home-sliders {
		.products-slider {
			h2 {
				padding: 12px 10px;
			}
		}
	}

	/******************/
	/* shop - archive */
	/******************/

	.woocommerce.archive {

		/*****************/
		/* products list */
		/*****************/

		.products-list {

			/************/
			/* products */
			/************/

			.products {
				li {
					width: 50%;

					&.featured-product-item {
						width: 50%;
					}
				}
			}
		}
	}

	/*************************/
	/* shop - single product */
	/*************************/

	.single-product-section {

		/****************************/
		/* single product section 1 */
		/****************************/

		&.single-product-section1 {

			/*****************/
			/* product title */
			/*****************/

			.product-title {
				h1 {
					font-size: 20px;
				}

				.artist-title {
					font-size: 14px;
				}
			}

			/******************/
			/* product images */
			/******************/

			.product-images {

				#disclaimer {
					font-size: 10px;
				}

				/******************/
				/* mobile gallery */
				/******************/

				.product-gallery-slider {
					.product-gallery-slider-placeholder {
						width: 224px;

						.product-gallery-item {
							width: 224px;
							height: 224px;
						}
					}

					.product-gallery-slider-prev,
					.product-gallery-slider-next {
						top: 102px;
					}
				}
			}

			/****************/
			/* product meta */
			/****************/

			.product-meta {

				/*****************/
				/* product price */
				/*****************/

				.price {
					line-height: 30px;
					font-size: 20px;

					del {
						font-size: 15px;
					}
				}

				/***************/
				/* add to cart */
				/***************/

				#single-product-add-to-cart {

					/**************/
					/* qty select */
					/**************/

					#qty-select {
						float: none;
						margin-bottom: 15px;
						width: 100%;
						line-height: 30px;
						font-size: 20px;

						&:before {
							top: 9px;
							border-left-width: 7px;
							border-right-width: 7px;
							border-top-width: 12px;
						}

						& ul {
							top: 30px;

							li {
								font-size: 16px;
							}
						}

						&.collapsed {
							&:before {
								border-bottom-width: 12px;
							}
						}
					}

					/**********************/
					/* add to cart button */
					/**********************/

					.add-to-cart {
						float: none;
						width: 100%;

						&:after {
							top: -1px;
							right: 65px;
						}

						a.button {
							line-height: 35px;
							font-size: 20px !important;
							text-indent: -60px;

							&:after {
								top: -8px;
								right: 92px;
							}

							&.loading,
							&.added {
								&:after {
									right: 90px;
								}
							}
						}

						a.added_to_cart {
							line-height: 35px;
						}
					}
				}

				/****************/
				/* meta section */
				/****************/

				.product-meta-section {

					/********************/
					/* meta description */
					/********************/

					&.single-product-meta-description {
						.excerpt {
							font-size: 14px;
						}
					}

					/****************/
					/* meta content */
					/****************/

					&.single-product-meta-content {

						/***********/
						/* content */
						/***********/

						.content {
							font-size: 14px;
						}
					}

					/*****************/
					/* meta shipping */
					/*****************/

					&.single-product-meta-shipping {
						.shipping-info {
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	/***********************/
	/* shop - product item */
	/***********************/

	.product-item {
		&.featured-product-item {
			.product-item-image {
				max-width: 139px;
				height: 139px;
			}
		}
	}

	/**********/
	/* footer */
	/**********/

	footer {

		/****************/
		/* social links */
		/****************/

		.social-links {
			ul {
				li {
					margin: 0 20px;
				}
			}
		}

		/***************/
		/* footer menu */
		/***************/

		.footer-menu {
			li {
				margin-bottom: 5px;

				a {
					font-size: 14px;
				}
			}

			& > ul {
				& > li {
					width: 100%;

					& > a {
						font-size: 16px;
					}
				}
			}
		}
	}
}

@media (max-width: 446px) {
	
	/******************/
	/* events filters */
	/******************/
	
	.event-filters-outer-wrapper {
		.event-filters-inner-wrapper {
			.event-filters {
				width: 260px;
				
				.event-filter-by-category {
					select {
						width: 135px;
					}
				}
			
				.event-filter-by-date {
					width: 109px;
					
					input {
						width: 109px;
					}
				}
			}
		}
	}

	/***************/
	/* events list */
	/***************/
	
	.events-list {
		.row {
			height: auto !important;
			min-height: 150px;
			
			h2.event-name,
			.event-date {
				margin-bottom: 5px;
			}
			
			.col-1 {
				display: block !important;
			}
			
			.col-2 {
				width: 100% !important;
				text-align: center !important;
			}
			
			.col-3 {
				display: none !important;
			}
			
			.event-type {
				left: 40px !important;
				right: auto !important;
			}
		}
	}
}

@media (min-width: 1200px) {

	/******************/
	/* general layout */
	/******************/
	
	body {
		width: 1170px;
	}
	
	/****************/
	/* page content */
	/****************/
	
	.page-content {
	
		/***********/
		/* content */
		/***********/
		
		.content-wrapper {
			width: 632.5px;
			
			&.shop-page {
				width: 877.5px;
			}
		}
		
		.content-wrapper-wide,
		.content-landing-mode {
			width: 925px;
			
			&.shop-page {
				width: 1170px;
			}
		}
		
		/****************/
		/* widgets area */
		/****************/
		
		.widgets-area-wrapper {
			left: 632.5px;
			
			&.shop-page {
				left: 877.5px;
			}
		}
	}
	
	/**********/
	/* banner */
	/**********/
	
	.main-layout-banner {
		height: $banner-height-l;

		.container {
			#slideshow-wrapper {
				#slides {
					top: $slides-initial-top-l;		
				}

				#description-wrapper {
					#description {
						#description-cell {
							#category {
								font-size: 13.6px;
								margin-bottom: 17px;	
							}

							.desc-link {
								font-size: 15px;

								#title {
									margin-bottom: 19px;
									font-size: 31.8px;
									line-height: 38px;
								}
							}

							#date {
								margin-bottom: 40px;
								font-size: 20.5px;
								line-height: 24px;
							}

							#text {
								max-height: 134px;
								font-size: 18.2px;
								font-weight:bold;
								line-height: 22px;	
							}
						}
					}
				}

				#mini-gallery {
					padding: $mini-gallery-padding-top-l $mini-gallery-padding-side-l;

					.mini-gallery-item-wrapper {
						height: $mini-gallery-img-height-l;
						margin-bottom: $mini-gallery-margin-l;

						.mini-gallery-title {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
	
	/******************/
	/* featured links */
	/******************/
	
	.featured-links {
		right: 350px;
		width: 820px !important;
	}
	
	/*******************/
	/* contact details */
	/*******************/
	
	.contact-details {
		left: 820px;
		width: 350px !important;
	}
}
	
@media (min-width: 992px) {
	
	/*******************/
	/* contact details */
	/*******************/
	
	.contact-details {
		.contact-details-wrapper {
			.contact-details-layout {
				height: auto !important;
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1199px) {

	/******************/
	/* general layout */
	/******************/
	
	body {
		width: 970px;
	}
	
	/******************/
	/* featured links */
	/******************/
	
	.featured-links {
		right: 350px;
		width: 620px !important;
		
		.link-image {
			margin-bottom: 10px;
		}
		
		.link-content-wrapper {
			.link-content {
				margin-left: auto;
			}
		}
	}	

	/*******************/
	/* contact details */
	/*******************/
	
	.contact-details {
		left: 620px;
		width: 350px !important;
	}
	
	/***************/
	/* events list */
	/***************/
	
	.events-list {
		.row {
			height: 230px;
			
			.col-3 {
				.event-excerpt {
					height: 175px;
				}
			}
			
			.event-type {
				right: 705px;
			}
		}
	}
	
	/*******/
	/* 404 */
	/*******/
	
	.container-404 {
		.bg-wrap {
			.bg {
				background-position: -145px 0;
			}
		}
		
		.quote {
			.bottom-msg {
				.bottom-msg-content {
					h2 {
						font-size: 29px;
					}
				}
			}
		}
	}

	/***************************/
	/* shop - homepage banners */
	/***************************/

	.shop-banners {
		height: 525px;
		
		.shop-banner {
			height: 525px;

			&.shop-banner-1 { left: -139px; width: 408px; }
			&.shop-banner-2 { left: 282px;  width: 238px; }
			&.shop-banner-3 { left: 533px;  width: 238px; }
			&.shop-banner-4 { left: 784px;  width: 329px; }

			img {
				left: -139px;
				height: 525px;
			}

			&.shop-banner-1 img { left: 139px; }
		}
	}

	/******************/
	/* shop - sidebar */
	/******************/

	.shop-sidebar {

		/**************/
		/* term title */
		/**************/

		.term-title-wrapper {
			.term-title {
				h1 {
					font-size: 30px;

					span {
						font-size: 26px;
					}
				}
			}
		}

		/***************/
		/* wswu banner */
		/***************/

		.wswu-banner {
			.wswu-content {
				&:after {
					border-left-width: 106.25px;
					border-right-width: 106.25px;
				}
			}
		}
	}

	/*************************/
	/* shop - single product */
	/*************************/

	.single-product-section {

		/****************************/
		/* single product section 1 */
		/****************************/

		&.single-product-section1 {

			/*****************/
			/* product title */
			/*****************/

			.product-title {
				h1 {
					font-size: 30px;
				}
			}

			/****************/
			/* product meta */
			/****************/

			.product-meta {

				/***************/
				/* add to cart */
				/***************/

				#single-product-add-to-cart {

					/**************/
					/* qty select */
					/**************/

					#qty-select {
						width: 140px;
						font-size: 22px;

						& ul {
							li {
								font-size: 18px;
							}
						}
					}

					/**********************/
					/* add to cart button */
					/**********************/

					.add-to-cart {
						@include calc(width, "100% - 155px");

						&:after {
							right: 70px;
						}

						a.button {
							font-size: 22px !important;
							text-indent: -60px;

							&:after {
								right: 96.5px;
							}

							&.loading,
							&.added {
								&:after {
									right: 95px;
								}
							}
						}
					}
				}
			}
		}
	}

	/**************************/
	/* shop - products slider */
	/**************************/

	.products-slider {
		.products-slider-wrapper {
			padding: 67px 71px 0;
		}
	}

	/**********/
	/* footer */
	/**********/

	footer {

		/****************/
		/* footer links */
		/****************/

		.footer-links {
			.link-box {
				a {
					.link {
						.title {
							font-size: 14px;
						}
					}
				}
			}
		}

		/***************/
		/* footer menu */
		/***************/

		.footer-menu {
			li {
				a {
					font-size: 16px;
				}
			}

			& > ul {
				& > li {
					width: 25%;

					&:nth-child(4n+1) {
						clear: both;
					}

					&:nth-child(5n+1) {
						clear: none;
					}

					& > a {
						font-size: 18px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	
	/******************/
	/* general layout */
	/******************/
	
	body {
		width: 750px;
	}
	
	/**********/
	/* header */
	/**********/

	body > header {

		/**************/
		/* header top */
		/**************/

		.header-top {

			/****************/
			/* logo wrapper */
			/****************/

			.logo-wrapper {
				.logo a {
					@include sprite-logo-en-104x48;
				}
			}
		}
	}

	/****************/
	/* page content */
	/****************/

	.page-content {
		margin-top: 140px;
	}

	/***********************/
	/* main general layout */
	/***********************/

	.main-wrapper {
		margin-top: 140px;
	}

	/*******************/
	/* contact details */
	/*******************/
	
	.contact-details {
		.contact-details-wrapper {
			padding: 15px 15px 0;
			font-size: 14px;
			
			.row:last-child .col-sm-4:last-child .contact-details-layout:last-child {
				margin-bottom: 10px !important;
				border-bottom: 1px solid $white !important;
			}
			
			.contact-details-layout {
				margin-bottom: 10px;
				padding: 0 0 10px 0 !important;
				overflow: hidden;
	
				/*******/
				/* map */
				/*******/
				
				&.contact-details-layout-map {
					margin-top: 0;
					margin-right: 0;
				}
	
				/******************/
				/* multiple links */
				/******************/
				
				&.contact-details-layout-multiple-links {
					margin-top: 0;
				}
			}
	
			.col-sm-12 .contact-details-layout {
				margin-bottom: 0 !important;
				border-bottom: 0 !important;
			}
			
			.col-sm-4 .contact-details-layout:first-child {
				padding-top: 10px !important;
				border-top: 1px solid $white;
			}
		}
	}
	
	/***************/
	/* events list */
	/***************/
	
	.events-list {
		.row {
			height: 233px;
			
			.col-3 {
				.event-excerpt {
					height: 175px;
				}
			}
			
			.event-type {
				left: 248px;
				right: auto;
			}
		}
	}
	
	/*******/
	/* 404 */
	/*******/
	
	.container-404 {
		.bg-wrap {
			.bg {
				background-position: -145px 100%;
				background-size: 60%;
			}
		}
		
		.top-msg {
			margin-bottom: 341px;
			
			.top-msg-title {
				margin-top: 105px;
			}
		}
		
		.quote {
			.bottom-msg {
				.bottom-msg-content {
					h2 {
						margin: 0 0 75px;
						font-size: 22px;
					}
				}
			}
		}
	}
	
	/******************/
	/* shop - sidebar */
	/******************/

	.shop-sidebar {

		/**************/
		/* term title */
		/**************/

		.term-title-wrapper {
			.term-title {
				min-height: 44px;

				h1 {
					font-size: 20px;

					span {
						font-size: 18px;
					}
				}

				&.has-icon {
					min-height: 44px;

					h1 {
						margin: 5px 0;
					}
				}
			}
		}

		/***************/
		/* wswu banner */
		/***************/

		.wswu-banner {
			.wswu-content {
				&:after {
					border-left-width: 78.75px;
					border-right-width: 78.75px;
				}
			}
		}
	}

	/******************/
	/* shop - archive */
	/******************/

	.woocommerce.archive {

		/***************/
		/* term banner */
		/***************/

		.term-banner-wrapper {
			&:before {
				height: 44px !important;
			}

			.term-banner {
				&:before,
				&:after {
					height: 22px !important;
				}

				&:after {
					top: 22px !important;
				}
			}
		}
	}

	/*************************/
	/* shop - single product */
	/*************************/

	.single-product-section {

		/****************************/
		/* single product section 1 */
		/****************************/

		&.single-product-section1 {

			/*****************/
			/* product title */
			/*****************/

			.product-title {
				h1 {
					font-size: 28px;
				}

				.artist-title {
					font-size: 16px;
				}
			}

			/****************/
			/* product meta */
			/****************/

			.product-meta {

				/***************/
				/* add to cart */
				/***************/

				#single-product-add-to-cart {

					/**************/
					/* qty select */
					/**************/

					#qty-select {
						width: 225px;
						font-size: 22px;

						& ul {
							li {
								font-size: 18px;
							}
						}
					}

					/**********************/
					/* add to cart button */
					/**********************/

					.add-to-cart {
						@include calc(width, "100% - 240px");

						&:after {
							right: 160px;
						}

						a.button {
							font-size: 22px !important;
							text-indent: -60px;

							&:after {
								right: 186.5px;
							}

							&.loading,
							&.added {
								&:after {
									right: 185px;
								}
							}
						}
					}
				}
			}
		}
	}

	/***********************/
	/* shop - product item */
	/***********************/

	.product-item {
		&.featured-product-item {
			.product-item-image {
				max-width: 305px;
				height: 450px;
			}
		}
	}

	/**********/
	/* footer */
	/**********/

	footer {

		/***************/
		/* footer menu */
		/***************/

		.footer-menu {
			& > ul {
				& > li {
					width: 33.333%;

					&:nth-child(3n+1) {
						clear: both;
					}

					&:nth-child(5n+1) {
						clear: none;
					}
				}
			}
		}
	}

	/**************/
	/* typography */
	/**************/

	h3 {
		.main-layout-featured-links .contact-details & {
			margin-bottom: 3px;
			font-size: 14px;
		}
	}
}

@media (min-width: 768px) and (max-width: 1199px) {

	/******************/
	/* shop - sidebar */
	/******************/

	.shop-sidebar {

		/***************/
		/* wswu banner */
		/***************/

		.wswu-banner {
			.wswu-content {
				font-size: 12px;

				strong,
				.reason {
					font-size: 16px;
				}
			}
		}
	}
}

@media (min-width: 481px) and (max-width: 1199px) {

	/*************************/
	/* shop - single product */
	/*************************/

	.single-product-section {

		/****************************/
		/* single product section 1 */
		/****************************/

		&.single-product-section1 {

			/****************/
			/* product meta */
			/****************/

			.product-meta {

				/****************/
				/* meta section */
				/****************/

				.product-meta-section {

					/****************/
					/* meta content */
					/****************/

					&.single-product-meta-content {

						/***********/
						/* content */
						/***********/

						.content {
							font-size: 16px;
						}
					}

					/*****************/
					/* meta shipping */
					/*****************/

					&.single-product-meta-shipping {
						.shipping-info {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 481px) and (max-width: 991px) {

	/**********/
	/* footer */
	/**********/

	footer {

		/***************/
		/* footer menu */
		/***************/

		.footer-menu {
			li {
				a {
					font-size: 16px;
				}
			}

			& > ul {
				& > li {
					& > a {
						font-size: 17px;
					}
				}
			}
		}
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	
	/**********/
	/* header */
	/**********/

	body > header {

		/**************/
		/* header top */
		/**************/

		.header-top {
			height: 60px;
			border-bottom-width: 8px;

			/************/
			/* BH sites */
			/************/

			.sites {
				ul {
					li {
						margin: 22px 12px 0 0;

						a {
							width: 60px;
							height: 30px;

							.title {
								line-height: 12px;
								font-size: 12px;
							}
						}

						&:hover {
							margin: 22px 12px 0 0;

							a {
								width: 60px;
								height: 30px;
							}
						}

						&.active {
							margin: 0 12px 0 0;

							a {
								width: 90px;
								height: 52px;
							}
						}

						&:not(.active):hover {
							a {
								.title {
									display: block;
								}

								.icon {
									display: none;
								}
							}
						}

						&.main {
							&.active .icon {
								@include sprite-museum-en-s;
							}
						}

						&.shop {
							&.active .icon {
								@include sprite-shop-en-s;
							}
						}
					}
				}
			}

			/****************/
			/* logo wrapper */
			/****************/

			.logo-wrapper {
				.mobile-menu-btn,
				.logo {
					height: 52px;
				}
				
				.logo a {
					@include sprite-logo-en-89x41;
				}
			}
		}

		/*******************/
		/* header elements */
		/*******************/

		.header-elements {
			&.header-mid-elements {
				height: 56px;
			}

			.header-element {

				/*******************/
				/* shop cart popup */
				/*******************/

				&.shop-cart-popup {
					&.shop-cart-header-mid-popup {
						height: 56px;

						.shop-cart-popup-content {
							top: 116px;
							@include calc(left, "50% - 187.5px");
						}
					}
				}

				/********************/
				/* newsletter popup */
				/********************/

				&.newsletter-popup {
					height: 56px;
					.newsletter-popup-content {
						top: 116px;
					}
				}
			}
		}

		/*****************/
		/* featured page */
		/*****************/

		.header-mid {
			.featured-page {
				height: 56px;
			}
		}
	}

	/****************/
	/* page content */
	/****************/

	.page-content {
		margin-top: 116px;
	}

	/***********************/
	/* main general layout */
	/***********************/

	.main-wrapper {
		margin-top: 116px;
	}

	/*******/
	/* 404 */
	/*******/
	
	.container-404 {
		.bg-wrap {
			.bg {
				background-position: -128px 100%;
				background-size: 293px 422px;
			}
		}
		
		.top-msg {
			margin-bottom: 266px;
			
			.top-msg-title {
				margin-top: 85px;
			}
		}
		
		.quote {
			.bottom-msg {
				.bottom-msg-content {
					h2 {
						margin: 0 0 24px 185px;
						font-size: 22px;
					}
				}
			}
		}
	}

	/***********************************/
	/* shop - homepage categories menu */
	/***********************************/

	.shop-categories-menu-wrapper {
		.category-item-wrapper {
			&.manual-item-wrapper {
				.category-item {
					.title {
						@include calc(width, "100% - 88px");
					}

					.subtext {
						display: none;
					}

					.icon {
						left: auto;
						right: 0;
						@include sprites;
						@include sprite-ribbon-white;
					}
				}
			}
		}
	}

	/*************************/
	/* shop - single product */
	/*************************/

	.single-product-section {

		/****************************/
		/* single product section 1 */
		/****************************/

		&.single-product-section1 {

			/*****************/
			/* product title */
			/*****************/

			.product-title {
				h1 {
					font-size: 24px;
				}

				.artist-title {
					font-size: 16px;
				}
			}

			/******************/
			/* product images */
			/******************/

			.product-images {

				#disclaimer {
					font-size: 12px;
				}

				/******************/
				/* mobile gallery */
				/******************/

				.product-gallery-slider {
					.product-gallery-slider-placeholder {
						width: 385px;

						.product-gallery-item {
							width: 385px;
							height: 385px;
						}
					}

					.product-gallery-slider-prev,
					.product-gallery-slider-next {
						top: 182px;
					}
				}
			}

			/****************/
			/* product meta */
			/****************/

			.product-meta {

				/*****************/
				/* product price */
				/*****************/

				.price {
					line-height: 34px;
					font-size: 24px;
				}

				/***************/
				/* add to cart */
				/***************/

				#single-product-add-to-cart {

					/**************/
					/* qty select */
					/**************/

					#qty-select {
						width: 140px;
						line-height: 35px;
						font-size: 20px;

						&:before {
							top: 9.5px;
						}

						& ul {
							top: 35px;

							li {
								font-size: 16px;
							}
						}
					}

					/**********************/
					/* add to cart button */
					/**********************/

					.add-to-cart {
						@include calc(width, "100% - 155px");

						&:after {
							top: -1px;
							right: 70px;
						}

						a.button {
							line-height: 35px;
							font-size: 20px !important;

							&:after {
								top: -8px;
								right: 97px;
							}

							&.loading,
							&.added {
								&:after {
									right: 95px;
								}
							}
						}

						a.added_to_cart {
							line-height: 35px;
						}
					}
				}

				/****************/
				/* meta section */
				/****************/

				.product-meta-section {

					/********************/
					/* meta description */
					/********************/

					&.single-product-meta-description {
						.excerpt {
							font-size: 16px;
						}
					}
				}
			}
		}
	}

	/***********************/
	/* shop - product item */
	/***********************/

	.product-item {
		&.featured-product-item {
			.product-item-image {
				max-width: 440px;
				height: 440px;
			}
		}
	}

	/**********/
	/* footer */
	/**********/

	footer {

		/***************/
		/* footer menu */
		/***************/

		.footer-menu {
			& > ul {
				& > li {
					width: 50%;

					&:nth-child(2n+1) {
						clear: both;
					}

					&:nth-child(5n+1) {
						clear: none;
					}
				}
			}
		}
	}
}

@media (min-width: 351px) and (max-width: 767px) {
	
	/***************/
	/* events list */
	/***************/
	
	.events-list {
		.row {
			height: 230px;
			
			.col-2 {
				width: 230px;
				text-align: left;
			}
			
			.col-3 {
				@include calc(width, "100% - 230px");
				
				.event-excerpt {
					height: 200px;
				}
			}
			
			.event-type {
				right: 15px;
			}
		}
	}
}