@import "functions";
@import "typography";

@charset "utf-8";

/***********************/
/* main general layout */
/***********************/

.main-wrapper {
	margin-top: 120px;
	padding-top: 15px;

	.main-layout {
		margin-bottom: 20px;
	}
}

/**********/
/* banner */
/**********/

.main-layout-banner {
	@include not-selectable;
	
	.container {
		position: relative;
		height: 100%;
		overflow: hidden;

		#slideshow-wrapper {
			position: relative;
			height: 100%;
			overflow: hidden;

			#slides {
				position: absolute;
				height: 100%;
				width: 100%;
				@include transition(ease, 1.2s);

				.slide {
					position: relative;
					height: 100%;
					width: 100%;
				}

			}

			.slides-reset {
				transition: 0s linear all !important;
				-webkit-transition: 0s linear all !important;
				-moz-transition: 0s linear all !important;
				-o-transition: 0s linear all !important;
			}

			#description-wrapper {
				display: block;
				max-height: 80%;
				height: auto;
				bottom: 0;
				left: 0;
				width: 32%;
				padding: 21px;
				background-color: black;
				font-size: 20px;
				font-family: arial;
				background-color: rgba(229, 230, 231, 0.8);
				overflow: hidden;

				#description {
					display: table;
					height: 100%;

					#description-cell {
						display: table-cell;
						vertical-align: top;
						overflow: hidden;
						opacity: 1;
						@include transition(linear, .2s);

						
						#category {
							font-weight: $font-bold;
							color: #BF3118;
							overflow: hidden;	
						}

						.desc-link {
							text-decoration: none;
							color: blue;

							#title {
								color: #333333;
								font-weight: $font-bold;
								overflow: hidden;
							}
						}

						#date {
							font-weight: $font-bold;
							color: #6c6c6c;
							overflow: hidden;
							display: none;
						}

						#text {
							display: none;
							font-weight: $font-bold;
							color: #333333;
							overflow: hidden;
						}

						.read-more {
							display: none;
							float: right;
							text-decoration: underline;
						}
					}

					.description-cell-move {
						opacity: 0 !important;
					}
				}

				#up-arrow, #down-arrow {
					display: block;
					position: absolute;
					width: 100%;
					height: 10.82%;
					z-index: 2;
					cursor: pointer;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					@include transition(linear, .1s);
				}

				#up-arrow:hover, #down-arrow:hover {
					background-color: #000;
					opacity: 0.4 !important;
				}

				#up-arrow {
					top: -10.82%;
					left: 0;
					border-bottom: 1.5px solid white;
					background-image: url('../images/general/up.png');
				}

				#down-arrow {
					bottom: -10.82%;
					left: 0;
					border-top: 1.5px solid white;
					background-image: url('../images/general/down.png');
				}

				.up-arrow-show {
					top: 0 !important;
				}

				.down-arrow-show {
					bottom: 0 !important;
				}
			}

			.description-show {
				max-height: 100% !important;
				height: 100% !important;

				#description {

					#description-cell {
						vertical-align: middle !important;
						padding: 40px 0;

						#date, #text, .read-more {
							display: block !important;
						}
					}
				}
			}

			/* ad-hoc class to enable height transition of description wrapper in closed mode */
			.ad-hoc {
				max-height: 90% !important;
			}

			#mini-gallery {
				display: block;
				right: -18.5%;
				width: 18.5%;
				height: 100%;
				background-color: rgba(229, 230, 231, 1); 

				.mini-gallery-item-wrapper {
					display: table;
					position: relative;
					width: 100%;
					cursor: pointer;
					overflow: hidden;

					.mini-gallery-item {
						display: block;
						position: absolute;
						width: inherit;
						height: inherit;
						background-repeat: no-repeat;
						background-size: 100% 100%;
						background-position: 50% 50%;
					}

					.mini-gallery-title {
						display: none;
						position: relative;
						padding: 0 10px;
						font-weight: $font-bold;
						color: $black;
						line-height: normal;
						vertical-align: middle;
					}
				}
				

				.mini-gallery-item-wrapper:last-child {
					margin-bottom: 0 !important;
				} 

				.mini-gallery-item-wrapper:hover {

					.mini-gallery-item {
						opacity: 0.4;
					}

					.mini-gallery-title {
						display: table-cell !important;
					}
				}

				.active-item {
					opacity: 0.4;
				}
			}

			.mini-gallery-show {
				right: 0 !important;
			}

			#description-wrapper, #mini-gallery {
				position: absolute;
				z-index: 1;
				@include transition(linear, .2s);
			}
		}
	} 
}

/**********/
/* slider */
/**********/

.categories-filter {
	margin-top: -10px;
	margin-bottom: 15px;
	font-size: 14px;
	
	&:before,
	&:after {
		display: table;
		content: " ";
	}
	
	&:after {
		clear: both;
	}
	
	.sort-title {
		float: left;
		margin-right: 15px;
		font-weight: $font-bold;
	}
	
	ul {
		list-style: none;
		
		li {
			float: left;
			margin-right: 5px;
			cursor: pointer;
			
			&:hover,
			&.active {
				color: $red;
			}
			
			&.delimiter {
				font-size: 13px;
				cursor: default;
				
				&:hover {
					color: $font-color;
				}
			}
		}
	}
}

.events-slider-placeholder {
	position: relative;
	padding: 0 0 0 35px;
	min-height: 216px;
	overflow: hidden;
	@include not-selectable;
	
	.events-slider {
		.event-item {
			position: relative !important;
			width: 221px;
			text-align: center;
			
			a {
				color: $font-color;
				text-decoration: none;
				
				img {
					max-width: 216px;
					max-height: 216px;
					border: 1px solid $border-color2;
				}
				
				.event-meta {
					position: absolute;
					padding: 0 3px;
					top: 216px;
					left: 0;
					width: 100%;
					line-height: normal;
					text-align: left;
					
					.event-type {
						position: absolute;
						top: -15px;
						left: 20px;
						padding: 0 3px;
						font-size: 12px;
						color: #888eac;
						background-color: $white;
					}
					
					.event-date {
						height: 17px;
						font-size: 14px;
					}
					
					h3,
					.event-desc {
						padding-right: 10px;
						font-size: 14px;
						white-space: normal;
					}
				}
			}

			&.custom-event-item {
				.event-meta {
					h3 {
						margin-top: 23px;
					}
				}
			}
		}
	}
		
	#events-slider-next,
	#events-slider-prev {
		position: absolute;
		top: 0;
		left: 0;
		width: 32.5px;
		height: 107px;
		text-align: center;
		background-color: $red;
		cursor: pointer;
		
		.fa {
			font-size: 40px;
			color: $font-invert-color;
			@include vertical-align;
		}
	}
	
	#events-slider-prev {
		top: 109px;
	}
}

/******************/
/* featured links */
/******************/

.featured-links {
	line-height: normal;
	
	.row {
		margin-bottom: 30px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.row1 .link-image {
		margin-bottom: 10px;
	}
	
	.link-content {
		font-size: 14px;
	}
	
	.link-content-wrapper {
		.link-content {
			margin-left: -20px;
		}
	}
}

/*******************/
/* contact details */
/*******************/

.contact-details {
	.contact-details-wrapper {
		padding: 15px 28px 15px 0;
		line-height: normal;
		font-size: 15px;
		color: $black;
		background-color: $black-color5;
		
		.row:last-child .col-sm-4:last-child .contact-details-layout:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
		
		.contact-details-layout {
			margin-bottom: 15px;
			padding: 0 0 15px 28px;
			border-bottom: 1px solid $white;
			
			p {
				margin-bottom: 0;
			}
	
			/*******/
			/* map */
			/*******/
			
			&.contact-details-layout-map {
				margin-top: -16px;
				margin-right: -28px;
				padding: 0 !important;
				height: 120px;
				border-top: 1px solid $white;
				border-bottom: 1px solid $white !important;
				
				.map {
					width: 100%;
					height: 120px;
					background-position: 50% 50%;
				}
			}
	
			/***************/
			/* single link */
			/***************/
			
			&.contact-details-layout-single-link {
				position: relative;
				height: 48px !important;
				box-sizing: content-box;
				
				&:before,
				&:after {
					display: table;
					content: " ";
				}
				
				&:after {
					clear: both;
				}
				
				& > a {
					height: 48px;
					color: #000;
					text-decoration: none;
					display: block;
				}
				
				.icon {
					float: left;
					margin-top: 4px;
					width: 40px;
					height: 40px;
				}
				
				.text {
					margin-left: 60px;
					@include vertical-align;
				}
			}
	
			/******************/
			/* multiple links */
			/******************/
			
			&.contact-details-layout-multiple-links {
				margin-top: -5px;
				padding-bottom: 10px;
				
				ul {
					margin: 0;
					list-style: none;
					
					li {
						margin-right: 15px;
						font-size: 17px;
						display: inline-block;

						&:last-child {
							margin-right: 0;
						}
						
						i {
							position: relative;
							width: 30px;
							height: 30px;
							text-align: center;
							border: 1px solid;
							@include border-radius(50%);
							
							&:before {
								display: block;
								@include vertical-align;
							}
						}
					}
				}
			}
	
			/*************************/
			/* opening hours message */
			/*************************/
			
			&.contact-details-layout-opening-hours-message {
				.msg {
					font-weight: $font-bold;
					
					&.msg-open {
						color: $green-msg;
					}
					
					&.msg-close,
					&.msg-opening-today {
						color: $red-msg;
					}
				}
			}
		}
	}
}

/**************/
/* responsive */
/**************/

@import "responsive";