@import "functions";
@import "typography";
@import "modules/sprites";
@import "modules/bh_sprites";

@charset "utf-8";

/**********/
/* header */
/**********/

body > header {

	/**************/
	/* header top */
	/**************/

	.header-top {

		/************/
		/* BH sites */
		/************/

		.sites {
			ul {
				li {
					float: right;
					margin: 30px 0 0 15px;

					a {
						.title {
							font-weight: $font-bold;
						}
					}

					&:hover {
						margin: 18px -4px 0 11px;
					}

					&.active {
						margin: 0 0 0 15px;

					}

					&.main {
						&:hover .icon {
							@include sprite-museum-he-s;
						}

						&.active .icon {
							@include sprite-museum-he;
						}
					}

					&.shop {
						&:hover .icon {
							@include sprite-shop-he-s;
						}

						&.active .icon {
							@include sprite-shop-he;
						}
					}

					&.mjs {
						&:hover .icon {
							@include sprite-mjs-he-s;
						}
					}
				}
			}
		}

		/****************/
		/* logo wrapper */
		/****************/

		.logo-wrapper {
			.mobile-menu-btn,
			.logo {
				float: left;
				margin-left: auto;
				margin-right: 15px;
			}

			.mobile-menu-btn a {
				@include sprite-mobile-menu-he;
			}

			.logo a {
				@include sprite-logo-he-127x57;
			}
		}
	}

	/*****************/
	/* header bottom */
	/*****************/
	
	.header-bottom {

		/********/
		/* menu */
		/********/

		nav.menu {
			ul.nav {
				& > li {
					float: right;
				}
			}
		}
	}

	/*******************/
	/* header elements */
	/*******************/

	.header-elements {
		&.header-mid-elements {
			float: left;
		}

		.header-element {
			float: left;
			margin-left: auto;
			margin-right: 15px;

			.label {
				font-weight: $font-bold;
			}

			/*******************/
			/* shop cart popup */
			/*******************/

			&.shop-cart-popup {
				margin-left: 8px;

				.shop-cart-popup-content {
					ul.cart_list {
						li.product_list_widget_item_wrapper {
							.product_list_widget_item {
								a {
									.col1 {
										float: right;

										&:after {
											left: auto;
											right: 100%;
										}
									}

									.col2 {
										float: left;
									}

									.col1,
									.col2 {
										.col {
											float: right;
											
											&.item-data {
												margin: 5px -10px 0 10px;
											}

											&.item-price {
												text-align: left;
											}
										}
									}
								}
							}
						}
					}
						
					.total {
						.col {
							float: right;
							
							&:first-child:after {
								left: auto;
								right: 100%;
							}

							&.sum {
								.amount {
									text-align: left;
								}
							}
						}
					}
					
					.buttons {
						.view-cart-btn {
							float: right;
							padding-left: 0;
							padding-right: 10px;
						}
					}
					
					.glyphicon-remove {
						left: 10px;
						right: auto;
					}
				}
			}

			/********************/
			/* newsletter popup */
			/********************/

			&.newsletter-popup {
				.newsletter-popup-content {
					.widgettitle {
						&:before {
							left: auto;
							right: 10px;
						}
					}
					
					.widgetcontent {
						form {
							.newsletter-groups {
								label {
									float: right;
									margin-left: 80px;
									margin-right: auto;

									span {
										left: auto;
										right: 25px;
									}

									&:after {
										left: auto;
										right: 4px;
									}
								}
							}

							.newsletter-submit {
								float: left;
								font-weight: $font-bold;
							}
						}
						
						.result-container {
							.loader {
								left: 196px;
								right: auto;
							}
						}
					}
					
					.glyphicon-remove {
						left: 10px;
						right: auto;
					}
				}
			}
		}
	}

	/*****************/
	/* featured page */
	/*****************/

	.header-mid {
		.featured-page {
			float: right;

			a {
				font-weight: $font-bold;
			}
		}
	}

	.header-bottom {
		.featured-page {
			float: left;
		}
	}
}

/****************/
/* page content */
/****************/

.page-content {

	/*************/
	/* side menu */
	/*************/
	
	.side-menu-wrapper {
		ul {
			li {
				a {
					margin-left: auto;
					margin-right: 8px;
					padding-left: 0;
					padding-right: 15px;
					border-left: 0;
					border-right: 4px solid #b5b5b5;
				}
				
				&.parent {
					padding: 0 15px 0 0;
					border-left: 0;
					border-right: 4px solid $cyan-color1;
					
					a,
					a:hover {
						margin-right: 0;
						padding-right: 0;
						border-right: 0 !important;
					}				
				}
				
				.sub-menu {
					li {
						a {
							margin-right: 16px;
						}
					}
				}
				
				&:hover > a,
				& > a:hover,
				&.current-menu-item > a,
				&.current-menu-ancestor > a {
					border-left: 0;
					border-right: 4px solid $cyan-color1;
				}
			}
			
			&.blog-menu {
				li {
					a {
						margin-left: auto;
						margin-right: 0;
					}
				}
			}
		}
		
		/*********************/
		/* newsletter widget */
		/*********************/
		
		.newsletter-widget {
			.Active_Trail_Newsletter {
				.widgettitle {
					padding: 4px 40px 4px 0;
					
					&:before {
						left: auto;
						right: 0;
						@include flipH;
					}
				}
				
				.widgetcontent {
					form {
						.newsletter-groups {
							label {
								padding-left: 0;
								padding-right: 15px;
							}
						}
					}
					
					.result-container {
						.loader {
							left: 10px;
							right: auto;
						}
					}
				}
			}
		}
	}
	
	/***********/
	/* content */
	/***********/
	
	.content-wrapper,
	.content-wrapper-wide {
		
		/***********/
		/* general */
		/***********/
		
		ul, ol {
			padding: 0 40px 10px 0;
		}
		
		/***************/
		/* content row */
		/***************/
		
		.content-column {
			h2.title {
				padding-left: 10px;
				padding-right: 0;
			}
		}
		
		/********/
		/* faqs */
		/********/
		
		ul.faqs {
			li {
				.question {
					padding-left: 0;
					padding-right: 25px;
					
					&:before {
						left: auto;
						right: 0;
					}
				}
			}
		}
		
		/************/
		/* excerpts */
		/************/
		
		ul.excerpts {
			li {
				.image {
					float: right;
				}
				
				.content {
					&.has-image {
						margin-left: 0;
						margin-right: 210px;
					}
				}
			}
		}
		
		/************/
		/* contacts */
		/************/
		
		.contact {
			.phone,
			.email,
			.address {
				padding-left: 0;
				padding-right: 25px;
				text-align: right;
				direction: ltr;
			}
			
			.phone:before,
			.email:before,
			.address:before {
				left: auto;
				right: 0;
				@include flipH;
			}
		}
	}
	
	/************/
	/* contacts */
	/************/
	
	.contact {
		.phone,
		.email {
			padding-left: 0;
			padding-right: 25px;
			text-align: right;
			direction: ltr;
		}
		
		.phone:before,
		.email:before {
			left: auto;
			right: 0;
			@include flipH;
		}
	}
}

/*********/
/* forms */
/*********/

.bh-form {

	p {
		padding: 0 0 25px 60px;
	}

	#add {
		padding: 0 0 0 10px;
	}

	#remove {
		padding: 0 10px 0 0;
		border-right: 1px solid #666666;
		border-left: none;
	}

	.wpcf7-not-valid-tip,
  	.wpcf7-valid-tip {
              
      &::before {
        right: 205px;
      }
    }

    .cardmonth, 
    .cardyear {

	  .wpcf7-not-valid-tip,
  	  .wpcf7-valid-tip {
  	  	
  	  	&::before {
          right: 55px; 
  	  	}
  	  }
	}

    .newsletter {

	  .wpcf7-not-valid-tip,
  	  .wpcf7-valid-tip {
  	  	
  	  	&::before {
          right: 450px; 
  	  	}
  	  }
	}

	.acceptance {

	  .wpcf7-not-valid-tip,
  	  .wpcf7-valid-tip {
  	  	
  	  	&::before {
          right: 300px; 
  	  	}
  	  }
	}

	.message {

	  .wpcf7-not-valid-tip,
  	  .wpcf7-valid-tip {

  	  	&::before {
          right: 470px; 
  	  	}
  	  }
	}
}

#microfilm-form {

	div#letter-container {
		direction: ltr;
	}

	.bullet {
		margin-right: 0;
		margin-left: 5px;
	}

	table#microfilms {

		.green-button {
			float: left;
			padding: 5px 5px 5px 3px;
		}

		.remove {
			font-size: 12px;
			padding: 5px 5px 5px 2px;
		}
	}

	form {

		td {
			padding: 0 0 30px 50px;
		}

		.plus {
      		margin-left: 8px;
		}

		#details {

	    	.addphone-button {
	    		right: auto; 
	    		left: 10px; 
	    	}
	    }

		.validation-icon-valid, 
	    .validation-icon-invalid {	
	    	right: 205px;
	    }

	    .carddate-wrapper {
	    	
	     	.validation-icon-valid,
	     	.validation-icon-invalid {
	    		right: 60px !important;
	    	}
	    }
	}
}

/********/
/* main */
/********/

/**********/
/* banner */
/**********/

.main-layout-banner {
	
	.container {
		
		#slideshow-wrapper {

			#description-wrapper {
				right: 0;
			}

			#mini-gallery {
				right: inherit;
				left: -18.5%;
			}

			.mini-gallery-show {
				right: inherit !important;
				left: 0 !important;
			}
		}
	}
}

/**********/
/* slider */
/**********/

.categories-filter {
	.sort-title {
		float: right;
		margin-right: 0;
		margin-left: 15px;
	}

	ul {
		li {
			float: right;
			margin-right: 0;
			margin-left: 5px;
		}
	}
}

.events-slider-placeholder {
	padding: 0 35px 0 0;
	
	.events-slider {
		float: right;
		
		.event-item {
			a {
				.event-meta {
					text-align: right;
					direction: rtl;
					
					.event-type {
						left: auto;
						right: 20px;
					}
		
					h3,
					.event-desc {
						padding-left: 10px;
						padding-right: 0;
					}
				}
			}
		}
	}
	
	#events-slider-next,
	#events-slider-prev {
		top: 0;
		left: auto;
		right: 0;
	}
	
	#events-slider-next {
		top: 109px;
	}
}

/******************/
/* featured links */
/******************/

.featured-links {
	.link-content-wrapper {
		.link-content {
			margin-left: auto;
			margin-right: -20px;
		}
	}
}

/*******************/
/* contact details */
/*******************/

.contact-details {
	.contact-details-wrapper {
		padding: 15px 0 15px 28px;
		
		.contact-details-layout {
			padding: 0 28px 15px 0;
			
			/*******/
			/* map */
			/*******/
			
			&.contact-details-layout-map {
				margin-left: -28px;
				margin-right: 0;
			}
	
			/***************/
			/* single link */
			/***************/
			
			&.contact-details-layout-single-link {
				.icon {
					float: right;
				}
				
				.text {
					margin-left: 0;
					margin-right: 60px;
				}
			}
	
			/******************/
			/* multiple links */
			/******************/
			
			&.contact-details-layout-multiple-links {
				ul {
					li {
						margin-left: 15px;
						margin-right: 0;

						&:last-child {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

/******************/
/* events filters */
/******************/

.event-filters-outer-wrapper {
	.event-filters-inner-wrapper {
		.event-filters {
			.event-filter-by-category {
				float: right;
				margin-left: 4px;
				margin-right: 0;
			}
		
			.event-filter-by-date {
				float: right;
				
				&:after {
					left: 13px;
					right: auto;
				}
			}
			
			input,
			select {
				padding-left: 0;
				padding-right: 5px;
			}
			
			.loader {
				left: -24px;
				right: auto;
			}
		}
	}
}

/***************/
/* events list */
/***************/

.events-list {
	.row {
		.col-3 {
			.event-btn {
				left: 15px;
				right: auto;
				
				.btn {
					float: left;
					
					&.event-ticket-net-link,
					&.event-reservation-form-link {
						margin-left: 0;
						margin-right: 10px;
					}
				}
				
				.free_admittance {
					float: left;
					margin-left: 0;
					margin-right: 10px;
				}
			}
		}
		
		.event-type {
			left: 671px;
			right: auto;
		}
	}
}

/****************/
/* single event */
/****************/

.series {
	.panel-heading {
		.series-btn {
			text-align: left;
		}
	}
	
	.panel-body {
		.row {
			.event-date {
				&.aligned {
					text-align: left;
				}
			}
			
			.event-btn {
				text-align: left;
			}
		}
	}
}

/***********/
/* article */
/***********/

article.post {
	.post-meta-wrapper {
		.post-meta {
			padding-left: 0;
			padding-right: 25px;
			
			&.post-date {
				&:before {
					left: auto;
					right: 0;
				}
			}
			
			&.post-comments-count {
				float: right;
				
				&.active:before {
					left: auto;
					right: 0;
				}
			}
		}
	}
}
	
/*******/
/* 404 */
/*******/

.container-404 {
	.bg-wrap {
		@include flipH;
	}
	
	.quote {
		.bottom-msg {
			.bottom-msg-content {
				padding: 20px 0 0 20px;
			}
		}
	}
}

/******************/
/* shop - general */
/******************/

.woocommerce {
	.woocommerce-message {
		a.button {
			float: left;
		}
	}
	
	.col-1 {
		float: right !important;
	}
	
	.col-2 {
		float: left !important;
	}
	
	.form-row {
		&.form-row-first {
			float: right;
		}
		
		&.form-row-last {
			float: left;
		}
	}
}

/*********************/
/* shop - breadcrumb */
/*********************/

.woocommerce-breadcrumb {
	.breadcrumb-delimiter {
		@include breadcrumb-delimiter-he;
	}
}

/**********************************/
/* shop - sidebar Recently Viewed */
/**********************************/

.shop-sidebar-recently-viewed {
	.widgettitle {
		font-size: 11px;
	}
	
	.recently-products-slider-wrapper {
		.cycle-carousel-wrap {
			li {
				a {
					&:hover {
						&:before {
							left: -1px;
							right: auto;
							border-left: 0;
							border-right: 35px solid $cyan-color2;
							-webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
							-moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
							box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
						}
					}
					
					.glyphicon {
						left: 0;
						right: auto;
					}
				}
			}
		}
	}
}

/***********************************/
/* shop - homepage categories menu */
/***********************************/

.shop-categories-menu-wrapper {
	.category-item-wrapper {
		float: right;

		&.odd { padding-right: 0; padding-left: 5px; }
		&.even { padding-left: 0; padding-right: 5px; }

		.category-item {
			.title {
				padding-left: 0;
				padding-right: 20px;
			}

			.icon {
				left: 0;
				right: auto;
			}
		}

		&.manual-item-wrapper {
			.category-item {
				.subtext {
					left: 10px;
					right: auto;
					text-align: left;
				}

				.icon {
					left: auto;
					right: 35%;
				}
			}
		}
	}
}

/*************************************/
/* shop - homepage featured products */
/*************************************/

.shop-featured-wrapper {
	.shop-featured {
		.row {
			.featured-product-item {
				float: right;

				.product-item-meta-wrapper {
					.product-item-meta {
						.price {
							left: 10px;
							right: auto;

							ins {
								float: left;
								margin-left: 0;
								margin-right: 10px;
							}
						}
					}
				}
			}
		}
	}
}

/***************************/
/* shop - homepage sliders */
/***************************/

.shop-home-sliders {
	.products-slider {
		h2 {
			float: right;
			margin: 0 -25px 20px 0;

			&:before {
				left: auto;
				right: 0;
				border-left-width: 0;
				border-right: 10px solid transparent;
			}

			&:after {
				left: auto;
				right: 100%;
				border-left: 28px solid transparent;
				border-right-width: 0;
			}
		}
	}
}

/******************/
/* shop - archive */
/******************/

.woocommerce.archive {

	/***************/
	/* term banner */
	/***************/

	.term-banner-wrapper {
		&:before {
			left: auto;
			right: -50px;
		}

		.term-banner {
			&:before,
			&:after {
				left: auto;
				right: -50px;
			}

			&:before {
				border-bottom-left-radius: 25px;
				border-bottom-right-radius: 0;
			}

			&:after {
				border-top-left-radius: 25px;
				border-top-right-radius: 0;
			}

			.term-image {
				float: right;
				margin: 0 0 10px 10px;
			}
		}
	}

	/*****************/
	/* products list */
	/*****************/

	.products-list {

		/****************/
		/* sort options */
		/****************/

		.sort-options {
			float: left;

			.sort-title {
				float: right;
				margin-left: 10px;
				margin-right: 0;
			}
		}

		/************/
		/* products */
		/************/

		.products {
			li {
				float: right;
			}
		}
	}
}

/*************************/
/* shop - single product */
/*************************/

.single-product-section {

	/****************************/
	/* single product section 1 */
	/****************************/

	&.single-product-section1 {

		/******************/
		/* product images */
		/******************/

		.product-images {

			/*******************/
			/* desktop gallery */
			/*******************/

			#gallery-navigator {
				a {
					float: right;
				}
			}

			/******************/
			/* mobile gallery */
			/******************/

			.product-gallery-slider {
				.product-gallery-slider-placeholder {
					direction: ltr;
				}
			}
		}

		/****************/
		/* product meta */
		/****************/

		.product-meta {

			/***************/
			/* add to cart */
			/***************/

			#single-product-add-to-cart {

				/**************/
				/* qty select */
				/**************/

				#qty-select {
					float: right;
					margin-left: 15px;
					margin-right: 0;

					&:before {
						left: 10px;
						right: auto;
					}

					&:after {
						left: 35px;
						right: auto;
					}
				}

				/**********************/
				/* add to cart button */
				/**********************/

				.add-to-cart {
					float: right;

					&:after {
						left: 115px;
						right: auto;
					}

					a.button {
						&:after {
							left: 119.5px;
							right: auto;
						}

						&.loading,
						&.added {
							&:after {
								right: auto;
							}
						}

						&.loading:after { left: 118px; }
						&.added:after { left: 111px; }
					}

					a.added_to_cart {
						left: 10px;
						right: auto;
					}
				}
			}

			/****************/
			/* meta section */
			/****************/

			.product-meta-section {

				/****************/
				/* meta content */
				/****************/

				&.single-product-meta-content {

					/**********/
					/* badges */
					/**********/

					.badges {
						li {
							float: left;
							margin: 0 0 20px 8px;
						}
					}
				}
			}
		}
	}
}

/***************/
/* shop - cart */
/***************/

table.shop_table {
	text-align: right !important;
	
	tr.cart_item {
		td {
			&.product-quantity {
				@import "modules/quantity_button-rtl";
				
				.quantity {
					float: right;
				}
			}
		}
	}
	
	td.actions {
		.coupon {
			float: right !important;
			
			.input-text {
				float: right !important;
				margin: 0 0 0 4px !important;
			}
		}
		
		input.button[name="update_cart"] {
			float: left;
		}
	}
}

.cart_totals {
	float: right !important;
	
	& > table {
		tr {
			&.shipping-disclaimer {
				td {
					text-align: right !important;
				}
			}

			th {
				padding: 6px 0 0 12px !important;
			}

			td {
				text-align: left;
				
				#shipping_method {
					li {
						padding: .25em 22px .25em 0;
					}
				}
			}
		}
	}
	
	& > h2 {
		text-align: right;
	}
	
	& > p > small {
		text-align: right;
	}
	
	.wc-proceed-to-checkout {
		float: left;
	}
}

/*******************/
/* shop - checkout */
/*******************/

.woocommerce-checkout {
	form.login,
	form.checkout_coupon {
		text-align: right !important;
	}
	
	form.checkout {
		.col-1,
		.col-2 {
			#ship-to-different-address-checkbox {
				float: right;
				margin: 4px 3px 0 10px;
			}
		}
	}
	
	h3#ship-to-different-address {
		float: none !important;
	}
	
	.select2-container {
		.select2-choice {
			.select2-arrow {
				b:after {
					margin-left: 0;
					margin-right: -7px;
				}
			}
		}
	}
	
	table.shop_table {
		tr {
			&.shipping {
				#shipping_method {
					li {
						padding: .25em 22px .25em 0;
					}
				}
			}
		}
	}
	
	#payment {
		ul.payment_methods {
			li {
				text-align: right !important;
				
				input.input-radio {
					margin: 0 0 0 1em;
				}
				
				label {
					img {
						margin: -2px .5em 0 0;
					}
					
					a {
						float: left !important;
					}
				}
				
				.payment_box {
					&:after {
						left: auto;
						right: 0;
						margin: -1em 2em 0 0;
					}
				}
			}
		}
		
		.place-order {
			#place_order {
				float: left;
			}
			
			.terms {
				text-align: left;
				
				input[type="checkbox"] {
					margin: -2px 0 0 8px;
				}
			}
		}
	}
}

/************************/
/* shop - order details */
/************************/

ul.order_details {
	li {
		float: right !important;
		margin-left: 2em !important;
		margin-right: 0 !important;
		border-left: 1px dashed #d3ced2;
		border-right: 0 !important;
		padding-left: 2em !important;
		padding-right: 0 !important;
	}
}

/**************************/
/* shop - products slider */
/**************************/

.products-slider {
	.products-slider-wrapper {
		.products-slider-placeholder {
			direction: ltr;

			.product-item-wrapper {
				direction: rtl;
			}
		}
	}
}

/***********************/
/* shop - product item */
/***********************/

.product-item {
	.product-item-meta {
		.add-to-cart-wrapper {
			.price {
				float: right;
			}

			.add-to-cart {
				float: left;

				a.added_to_cart {
					left: 67px;
					right: auto;
				}
			}
		}
	}
}

/***************************/
/* shop - why shop with us */
/***************************/

.shop-wswu-layout {
	&.shop-wswu-layout-banners {
		.col-shop-wswu {
			float: right;
			margin: 0 0 12px 12px;
		}
	}
	
	&.shop-wswu-layout-content {
		.title {
			font-size: 38px;
		}
	}
}

/**********/
/* footer */
/**********/

footer {

	/****************/
	/* footer links */
	/****************/

	.footer-links {
		.link-box {
			a {
				.link {
					.title {
						span {
							left: auto;
							right: -5px;
						}
					}
				}
			}
		}
	}

	/***************/
	/* search form */
	/***************/

	.search-form-wrapper {
		form {
			.search-field {
				float: right;
			}
			
			.search-submit-wrapper {
				float: right;
			}
		}
	}

	/***************/
	/* footer menu */
	/***************/

	.footer-menu {
		li {
			&.menu-item-has-children {
				padding-left: 0;
				padding-right: 40px;

				& > .item-before {
					left: auto;
					right: 15px;
					border-left: 0;
					border-right: 13px solid $font-color;
				}
			}

			ul.sub-menu {
				li.menu-item-has-children {
					padding-left: 0;
					padding-right: 20px;

					& > .item-before {
						left: auto;
						right: 0;
					}
				}
			}
		}

		& > ul {
			& > li {
				float: right;
			}
		}
	}
}

/**************/
/* responsive */
/**************/

@import "responsive-rtl";