/**************************/
/* shop - quantity button */
/**************************/

.quantity {
	float: right;
	margin: 0;
	padding: 0;
	width: 60px;
	@include border-radius(0);
	
	.minus,
	.plus {
		width: 26px;
		height: 16px;
		font-family: times;
		font-size: 14px;
		font-weight: bold;
		background: $white;
		border-color: $border-color1;
		@include border-radius(0);
	}
	
	.minus {
		-webkit-border-bottom-right-radius: 3px;
		-moz-border-radius-bottomright: 3px;
		border-bottom-right-radius: 3px;
	}
	
	.plus {
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topright: 3px;
		border-top-right-radius: 3px;
	}
	
	input[type='number'] {
		width: 34px;
		height: 32px;
		border-color: $border-color1;
		@include border-radius(0);
		-webkit-border-top-left-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}