/*************/
/* variables */
/*************/

$images:	"../images/";
$fonts:		"../fonts/";

$default_fonts:	'Open Sans', sans-serif;

/**********/
/* colors */
/**********/

$black:				#000;
$white:				#FFF;
$gray:				#666;
$cyan:				#009db2;

/**************/
/* typography */
/**************/

$line-height:		24px;
$font-size:			20px;
$font-color:		$white;

$link-color:		$white;
$link-hover-color:	$white;

$font-light:		300;
$font-regular:		400;
$font-semi-bold:	600;
$font-bold:			700;

/***********/
/* borders */
/***********/

