@import "functions";

/**
 * These values will not show up in content, but can be 
 * queried by JavaScript to know which breakpoint is active
 */

@media (max-width: 1199px) {
	body:before {
		content: "1199";
	}
}

@media (max-width: 991px) {
	body:before {
		content: "991";
	}
}

@media (max-width: 767px) {
	body:before {
		content: "767";
	}
}

@media (max-width: 480px) {
	body:before {
		content: "480";
	}
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {

	/***********/
	/* content */
	/***********/

	.wrapper {

		/***********/
		/* content */
		/***********/

		.content {
			padding: 30px 15px;

			/********/
			/* logo */
			/********/

			.logo-wrapper {
				margin: 0 -15px;
				background: rgba(0,0,0,0.65);

				.logo {
					width: 250px;
					height: 95px;

					svg {
						width: 250px;
						height: 95px;
					}
				}
			}

			/********/
			/* form */
			/********/

			.form {
				float: none;
				margin: 0 -15px;
				padding: 30px 0;
				background: rgba(0,0,0,0.65);

				.form-title {
					margin: 0 15px 30px;
					line-height: 30px;
					font-size: 28px;
				}

				form {
					margin: 0 15px;

					input {
						line-height: 38px;
						font-size: 20px;

						&.button {
							float: none;
							padding: 0 20px;
							font-size: 20px;
						}
					}

					small {
						line-height: 13px;
						font-size: 13px;
					}
				}
			}
		}
	}
}

@media (max-width: 480px) {}

@media (min-width: 1200px) {}
	
@media (min-width: 992px) {}

@media (min-width: 768px) {}

@media (min-width: 481px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 1199px) {}

@media (min-width: 481px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 767px) {}