@import "functions";

/*************/
/* headlines */
/*************/

h1, h2, h3, h4, h5, h6 {
	@include font;
	font-weight: $font-bold;
}

h2 {
	font-size: 20px;
	font-weight: $font-normal;
	
	.main-layout & {
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 16px;
		font-weight: $font-bold;
	}

	.main-layout-featured-links .contact-details & {
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: $font-bold;
	}
}

h3 {
	.main-layout-slider & {
		margin-top: 6px;
		margin-bottom: 3px;
		font-size: 14px;
	}
	
	.main-layout-featured-links .featured-links &,
	.main-layout-featured-links .contact-details & {
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 15px;
	}
	
	.landing-content & {
		margin-top: 0;
	}
}

/*********/
/* links */
/*********/

a {
	color: $link-color;
	text-decoration: underline;
	
	&:hover {
		color: $link-hover-color;
	}
	
	&:focus {
		color: $link-color;
	}
	
	&.more-link {
		color: $read-more-link;
		text-decoration: none !important;
		@include transition(color);
		
		&:hover {
			color: $read-more-link-hover;
		}
		
		&:focus {
			color: $read-more-link;
		}
	}
}

/**************/
/* paragraphs */
/**************/

p,
pre {}

/*********/
/* lists */
/*********/

ul,
ol {
	list-style: square;
	
	li {}
}

/********/
/* meta */
/********/

small {}

/**********/
/* images */
/**********/

.alignleft {
	&.img,
	&.wp-caption {
		float: left !important;
		margin: 0 50px 20px 0;
		max-width: 50%;
	}
}

.alignright {
	&.img,
	&.wp-caption {
		float: right !important;
		margin: 0 0 20px 50px;
		max-width: 50%;
	}
}

.aligncenter {
	&.img,
	&.wp-caption {
		margin: 0 auto 20px;
		display: block;
	}
}

img {
	max-width: 100%;
	height: auto;
	
	.content-column &,
	.post-content & {
		margin-bottom: 20px;
		padding: 6px;
		@include box-shadow(0, 0, rgba(153,153,153,0.2), 5px, 4px);
	}
	
	.wp-caption &,
	.bh-form &,
	&.no-border {
		margin: 0;
		padding: 0;
		border: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		box-shadow:         none;
	}
}

.wp-caption {
	margin-bottom: 20px;
	padding: 6px;
	max-width: 100%;
	@include box-shadow(0, 0, rgba(153,153,153,0.2), 5px, 4px);
	
	.wp-caption-text {
		margin: 0;
		font-size: 13px;
		text-align: center;
	}
}

/**********/
/* tables */
/**********/

table {
	thead {
		td {}
	}
	
	td {}
}

/**************/
/* blockquote */
/**************/

blockquote {}

/************************/
/* bootstrap components */
/************************/

.thumbnail {
	border-color: $border-color1;
}

/***********/
/* buttons */
/***********/

.btn {
	padding: 7px 24px;
	max-width: 100%;
	font-size: 16px;
	font-weight: $font-bold;
	white-space: normal;
	border: 1px solid #979797;
	text-decoration: none;
	@include border-radius(4px);
	-webkit-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1), 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1), 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1), 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
	@include transition(all);

	&.small {
		padding: 4px 12px;
		font-size: 14px;
	}
	
	&:active {
		-webkit-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1), 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
		-moz-box-shadow:    inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1), 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
		box-shadow:         inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1), 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
	}

	&.red-btn {
		color: $red-btn-color;
		background-color: $red-btn-bg-bormal;
		
		&:hover {
			background-color: $red-btn-bg-hover;
		}

		&:active {
			background-color: $red-btn-bg-active;
		}
	}

	&.cyan-btn {
		color: $cyan-btn-color;
		background-color: $cyan-btn-bg-bormal;
		
		&:hover {
			background-color: $cyan-btn-bg-hover;
		}

		&:active {
			background-color: $cyan-btn-bg-active;
		}
	}

	&.white-btn {
		color: $white-btn-color;
		background-color: $white-btn-bg-bormal;
		
		&:hover {
			background-color: $white-btn-bg-hover;
		}

		&:active {
			background-color: $white-btn-bg-active;
		}
	}

	&.green-btn {
		color: $green-btn-color;
		background-color: $green-btn-bg-bormal;
		
		&:hover {
			background-color: $green-btn-bg-hover;
		}

		&:active {
			background-color: $green-btn-bg-active;
		}
	}
}