@import "functions";
@import "typography";
@import "modules/sprites";

@charset "utf-8";

/******************/
/* events filters */
/******************/

.event-filters-outer-wrapper {
	margin-top: -30px;
	padding: 10px;
	background-color: $events-list-bg;
	
	.event-filters-inner-wrapper {
		padding: 5px 0;
		background-color: $events-filter-bg;
		@include border-radius(6px);
		
		.event-filters {
			position: relative;
			margin: 0 auto;
			padding: 5px;
			width: 356px;
			height: 50px;
			background-color: $events-list-bg;
			border: 1px solid #9a9a9a;
			@include border-radius(4px, false);
			
			.event-filter-by-category {
				float: left;
				margin-right: 4px;
				
				select {
					width: 190px;
					background-color: $white;
				}
			}
		
			.event-filter-by-date {
				float: left;
				width: 150px;
				height: 38px;
				background-color: white;
				@include border-radius(4px);
				
				&:after {
					content: "";
					position: absolute;
					top: 14px;
					right: 13px;
					@include sprites;
					@include calendar;
				}
				
				input {
					position: relative;
					width: 150px;
					background-color: transparent;
					z-index: 1;
				}
			}
			
			input,
			select {
				padding-left: 5px;
				height: 38px;
				line-height: 38px;
				font-size: 14px;
				font-weight: $font-bold;
				border: 1px solid #b5b5b5;
				@include border-radius(4px);
				cursor: pointer;
			}
			
			.loader {
				position: absolute;
				top: 15px;
				right: -24px;
				line-height: normal;
				display: none;
			}
		}
	}
}

.ui-datepicker {
	font-size: 14px;
}

/***************/
/* events list */
/***************/

.events-list {
	padding: 0 0 1px;
	background-color: $events-list-bg;
	
	&.past-events-list {
		padding-top: 10px;
	}
	
	.row {
		position: relative;
		margin: 0 10px 10px;
		color: $black-color2;
		height: 219px;
		background-color: $white;
		@include border-radius(6px);
		overflow: hidden;
		
		h2.event-name {
			margin: 15px 0 0;
			font-size: 24px;
			font-weight: $font-normal;

			a {
				color: $black-color2;
				text-decoration: none;
			}
		}
		
		.event-date {
			font-size: 14px;
		}
		
		.col-2 {
			padding: 0;
			text-align: center;
		}
		
		.col-3 {
			height: 100%;
			
			.event-excerpt {
				height: 165px;
				overflow: hidden;
				
				.event-desc {
					margin-top: 15px;
					line-height: normal;
				}
			}
			
			.event-btn {
				position: absolute;
				bottom: 15px;
				right: 15px;
				
				.btn {
					float: right;
					font-size: 12px;
					
					&.event-ticket-net-link,
					&.event-reservation-form-link {
						margin-left: 10px;
						padding: 4px 12px;
					}
				}
				
				.free_admittance {
					float: right;
					margin-left: 10px;
					line-height: 27px;
					color: $green-msg;
				}
			}
		}
		
		.event-type {
			position: absolute;
			padding: 0px 5px;
			bottom: 0;
			right: 671px;
			font-size: 12px;
			color: #333;
			background-color: $events-list-bg;
		}
	}
}

.future_events_title {
	padding: 0 10px 10px;
	background-color: $events-list-bg;
	
	h3 {
		margin: 0;
		padding: 10px 15px;
		font-size: 16px;
		background-color: $events-filter-bg;
		@include border-radius(6px);
	}
}

/****************/
/* single event */
/****************/

.single {
	.single-ticket-net-btn,
	.free_admittance {
		margin-bottom: 10px;
	}
	
	.free_admittance {
		color: $green-msg;
	}
	
	.series {
		.panel-heading {
			margin: 0;
			padding: 15px 0;
			font-size: 18px;
			border-bottom: 1px solid $border-color1;
			background-color: $black-color5;
			
			.series-title,
			.series-price,
			.series-btn {
				display: inline-block;
				vertical-align: middle;
				float: none;
			}
			
			.series-title {
				font-weight: $font-bold;
				
				.event-type {
					display: inline;
				}
			}
			
			.series-btn {
				text-align: right;
				
				.btn {
					padding: 4px 12px;
					font-size: 14px;
				}
			}
		}
		
		.panel-body {
			padding: 0;
			
			.row {
				margin: 0;
				padding: 15px 0;
				border-bottom: 1px solid $border-color1;
	
				.event-title-wrapper,
				.event-date,
				.event-price,
				.event-btn {
					display: inline-block;
					vertical-align: middle;
					float: none;
				}
				
				.event-title-wrapper {
					.event-title {
						font-style: italic;
						font-weight: $font-bold;
					}
					
					.event-content {
						line-height: normal;
						font-size: 14px;
					}
				}
				
				.event-date {
					font-size: 15px;
					
					&.aligned {
						text-align: right;
					}
				}
				
				.event-price {
					font-size: 18px;
				}
				
				.event-btn {
					text-align: right;
				}
			}
		}
		
		.panel-footer {
			height: 25px;
			border-top: 0;
			background-color: $black-color5;
		}
	}
	
	/****************/
	/* landing mode */
	/****************/
	
	.landing-content-bg {
		position: relative;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		
		.landing-content-center {
			position: absolute;
			top: 10%;
			left: 10%;
			width: 80%;
			height: 80%;
			
			&.landing-content-center-bg-layer1 {
				background-repeat: no-repeat;
				background-position: 50% 50%;
				@include blur(12px);
				overflow: hidden;
			}
			
			&.landing-content-center-bg-layer2 {
				background-color: rgba(255,255,255,0.5);
			}
			
			&.landing-content {
				padding: 15px;
			}
		}
	}
}

/**************/
/* responsive */
/**************/

@import "responsive";